
.team__general{ 
    background: url("../../img/team/company_bg_1.svg") left top no-repeat; 
    /* background-position: 0 -10px;  */
    background-size: cover; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-style: normal; 
    border: none; 
    margin-bottom: 55px; 
} 

.team__general .team__general-img:nth-child(3){
    display: none;
}

.team__general-img:last-child{
    display: none;
}
 
.team__general-container{ 
    margin-left: 100px; 
    display: flex; 
    justify-content: space-between; 
} 
 
.team__general-content{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
} 
 
.team__general-title{ 
    margin-bottom: 6px; 
    font-weight: 400; 
    font-size: 52px; 
    line-height: 150%; 
    letter-spacing: 0.03em; 
    color: #FFFFFF; 
    text-shadow: 0px 0px 12px #0D99FF; 
} 
 
.team__general-text{ 
    max-width: 576px; 
    margin-bottom: 24px; 
    font-weight: 400; 
    font-size: 20px; 
    line-height: 150%; 
    letter-spacing: 0.03em; 
    color: #FFFFFF; 
    text-shadow: 0px 0px 12px #0D99FF; 
} 
 
.team__general-cards{ 
    display: flex; 
    flex-wrap: wrap;
} 
 
.team__general-card{ 
    width: 190px; 
    height: 90px; 
 
    margin-right: 9px; 
    margin-bottom: 36px; 
 
    background: rgba(0, 0, 0, 0.25); 
    border: 1px solid #FFFFFF; 
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(2px); 
    border-radius: 8px; 
} 
 
.team__general-card:last-child{ 
    margin-right: 0; 
} 
 
.team__card-title{ 
    margin-top: 9px; 
    font-weight: 700; 
    font-size: 32px; 
    line-height: 145.69%; 
 
    text-align: center; 
 
    color: #FFFFFF; 
 
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5); 
} 
 
.team__card-text{ 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 22px; 
 
    text-align: center; 
    letter-spacing: 0.01em; 
 
    color: #FFFFFF; 
 
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5); 
} 
 
.team__general-button{ 
    max-width: 190px; 
    height: 40px; 
 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 40px; 
    text-align: center; 
    vertical-align: middle; 
    letter-spacing: 0.03em; 
 
    color: #FFFFFF; 
 
    background: #0D99FF; 
 
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5); 
    border-radius: 8px 0px; 
} 
 
.team__general-button:hover{ 
    color: #FFFFFF; 
} 
 
.team__general-img img{ 
    object-fit: fill; 
}

@media (max-width:1024px){
    .team__general-img img{
        max-height: 418px;
    }
    .team__general-title{
        font-size: 37px;
    }
    .team__general-text{
        margin-bottom: 16px;
        font-size: 14px;
    }
    .team__general-card{
        margin-bottom: 24px;
        width: 120px;
        height: 70px;
    }
    .team__card-title{
        font-size: 22px;
        text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
    }
    .team__card-text{
        font-size: 10px;
        text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
    }
}

@media (max-width:780px){
    .team__general-container{
        margin-left: 50px;
    }
    .team__general-content{
        max-width: 370px;
    }
    .team__general-img img{
        max-height: 320px;
    }
    .team__general-title{
        font-size: 28px;
    }
    .team__general-text{
        margin-bottom: 12px;
        font-size: 13px;
    }
    .team__general-card{
        margin-bottom: 12px;
        width: 100px;
        height: 45px;
    }
    .team__general-card{
        width: 120px; 
        height: 45px; 
    
        margin-right: 6px; 
        margin-bottom: 10px; 
    
        background: rgba(0, 0, 0, 0.25); 
        border: 1px solid #FFFFFF; 
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); 
        backdrop-filter: blur(2px); 
        border-radius: 4px; 
    }
    .team__card-title{
        margin-top: 3px;
        font-size: 14px;
        text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 0.5);
    }
    .team__card-text{
        line-height: 11.73px;
        font-size: 8px;
        text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 0.5);
    }
    .team__general-button{
        max-width: 150px;
        height: 30px;
        font-weight: 400;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        background: #0D99FF;
        box-shadow: 2px 3px 8px rgb(0 0 0 / 50%);
        border-radius: 8px 0px;
    }
}

@media (max-width:768px){
    .team__general{
        margin-bottom: 30px;
    }
}

@media (max-width:580px){
    .team__general-container{
        margin-left: 26px;
    }
    .team__general-img img{
        max-height: 215px;
    }
    .team__general-title{
        font-size: 28px;
        line-height: 40px;
    }
    .team__general-text{
        margin-bottom: 12px;
        font-size: 10px;
        margin-bottom: 12px;
    }
    .team__general-card{
        margin-bottom: 12px;
        max-width: 50px;
        max-height: 23px;
        background: rgba(0, 0, 0, 0.25);
        border: 0.260417px solid #FFFFFF;
        box-shadow: 0px 0px 3.125px rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(0.520833px);
        border-radius: 2.08333px;
    }
    .team__card-title{
        margin-top: 0;
        font-size: 8.33333px;
        line-height: 145.69%;
        text-shadow: 0px 0px 1.04167px rgba(255, 255, 255, 0.5);
    }
    .team__card-text{
        font-size: 3.64583px;
        line-height: 6px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        text-shadow: 0px 0px 1.04167px rgba(255, 255, 255, 0.5);
    }
    .team__general-button{
        width: 89.96px;
        height: 18.65px;

        font-size: 7.82994px;
        line-height: 18.65px;

        letter-spacing: 0.03em;

        background: #0D99FF;
        box-shadow: 0.831496px 1.24724px 3.32598px rgba(0, 0, 0, 0.5);
        border-radius: 3.32598px 0px;
    }
}

@media (max-width:480px){
    .team__general-container{
        margin-top: 0;
        margin-left: 20px;
    }
    .team__general-title{
        font-size: 20px;
        line-height: 30px;
    }
    .team__general-text{
        font-size: 8px;
    }
}
@media (max-width:360px){
    .team__general-img:nth-child(2){
        display: none;
    }
    .team__general-img:nth-child(3){
        display: block!important;
    }
}
 
/* Main */ 
 
.main-general { 
    margin: 0 0 55px 0; 
} 

.main-general-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-container{
    padding: 62px 58px;
    display: flex; 
    justify-content: center; 
    max-width: 1245px
}

.main-general-content{
    background: url("../../img/team/company_bg_3.svg") no-repeat; 
    background-position: center;  
} 
 
.main-cards{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
} 
 
.main-card { 
    display: flex; 
    max-width: 341px; 
    margin: 18px 0 18px;
} 
 
.main-card img{ 
    align-self: start; 
    margin-right: 20px; 
} 

.main-title{
    margin: 0 auto;
    max-width: 1029px;
}
 
.main-text1 { 
   font-style: normal; 
   font-weight: 700; 
   font-size: 14px; 
   line-height: 160%; 
   letter-spacing: 0.18em; 
   text-transform: uppercase; 
   text-align: center; 
 
   color: #6658EA; 
} 
 
.main-text2 {
    margin-bottom: 0;
    font-family: 'Roboto'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 40px; 
    line-height: 150%; 

    text-align: center; 

    color: #444063; 
} 
 
.main-block-text1 { 
    margin: 0 0 5px 0; 
    font-weight: 500; 
    font-size: 20px; 
    line-height: 160%; 
 
    color: #444063; 
}

.main-block-text2 { 
    margin: 0;
    font-style: normal; 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 160%; 
    color: #444063; 
 
    opacity: 0.6; 
} 

@media (max-width:1442px){
    .main-general-content{
        background: none;
    }
    .main-content-container{
        max-width: none!important;
        width: 100%;
    }
}

@media (max-width: 1300px){
    .main-content-container{
        padding: 0;
    }
}

@media (max-width: 1024px){
    .main-text2{
        font-size: 30px;
    }
}

@media (max-width: 992px){
    .main-general-container{
        margin: 0 50px;
    }
    .main-block-text1{
        font-size: 18px;
    }
    .main-block-text2{
        font-size: 14px;
    }
    .main-card {
        max-width: 320px;
    }
}

@media (max-width:768px){
    .main-general{
        margin-bottom: 30px;
    }
    .main-text1{
        margin-bottom: 6px;
    }
    .main-text2{
        font-size: 24px;
    }
}

@media (max-width: 576px){
    .main-general-container{
        margin: 0 25px;
    }
    .main-card{
        width: 150.94px;
    }
    .main-text1{
        font-size: 8px;
    }
    .main-text2{
        font-size: 14px;
    }
    .main-card img{
        width: 10.94px;
    }
    .main-block-text1{
        font-size: 10px;
    }
    .main-block-text2{
        font-size: 8px;
    }
}
 
/* Medicine */ 
 
.team__medicine{ 
    margin-bottom: 87px; 
    display: flex; 
    justify-content: center; 
} 
 
.team__medicine-content{
    width: 400px; 
} 
 
.team__medicine-title{ 
    margin-bottom: 22px; 
    text-align: center; 
    font-weight: 400; 
    font-size: 48px; 
    line-height: 108%; 
 
    color: #1B1642; 
} 
 
.team__medicine-text{ 
    text-align: center; 
    font-weight: 400; 
    font-size: 18px; 
    line-height: 160%;

    opacity: 0.6;
}

@media (max-width: 1024px){
    .team__medicine{
        margin-bottom: 52px;
    }
    .team__medicine-title{
        font-size: 32px;
    }
    .team__medicine-text{
        font-size: 16px;
    }
}

@media (max-width: 768px){
    .team__medicine-title{
        font-size: 24px;
    }
}

/* Command */

.team__command{
    background: #13204F;
    background-size: 100%;
    padding: 55px 0;
    margin: 32px 0;
    position: relative;
}

.team__command::before{
    position: absolute;
    top: -31px;
    right: 0;
    content: '';
    display: block;
    width: 618px;
    height: 32px;
    background: url("../../img/team/company_bg_2_1.svg");
}

.team__command::after{
    position: absolute;
    bottom: -31px;
    left: 0;
    content: '';
    display: block;
    width: 618px;
    height: 32px;
    background: url("../../img/team/company_bg_2_1.svg");
    transform: rotate(180deg);
}

.team__command-row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.command__card{
    max-width: 250px;
    margin: 18px 0;
}

.command__card-img{
    margin-bottom: 16px;
}

.command__card-img img{
    width: 100%;
    border-radius: 16px 0px 16px 0px;
    object-fit: fill;
}

.command__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #F3F8FF;
}

.command__card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #7B7FA3;
}

@media (max-width:1024px){
    .command__card{
        max-width: 200px;
    }
    .team__command::before,
    .team__command::after{
        width: 450px;
    }
}

@media (max-width: 768px){
    .team__command{
        padding: 30px 0;
    }
    .command__card{
        margin: 12px 0;
        max-width: 150px;
    }
    .command__card-title{
        font-size: 13px;
    }
    .command__card-text{
        font-size: 11px;
    }
    .team__command::before,
    .team__command::after{
        width: 300px;
    }
}

@media (max-width: 576px){
    .team__command{
        padding: 22px 0;
    }
    .command__card{
        margin: 9px 0;
        max-width: 80px;
    }
    .command__card-title{
        font-size: 8px;
    }
    .command__card-text{
        font-size: 6px;
    }
    .team__command::before,
    .team__command::after{
        width: 160px;
    }
    .command__container{
        margin: 0 17px;
    }
}

/* About */

.team__about {
    margin: 87px 0 55px 0;
}

.about-content {
    padding: 0 55px;
    display: flex;
    justify-content: center;
    
}

.about-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.about-card {
    width: 352px;
    background: #FFFFFF;
    box-shadow: 0px 44px 74px rgba(26, 21, 71, 0.03);
    border-radius: 16px 0px;
}

.about-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    
    text-align: center;
    color: #1B1642;
    margin: 0 0 15px 0;
}

.about-2 {
    height: 64px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #1B1642;
    margin-bottom: 24px;
    

    opacity: 0.8;
}

.about-text-1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 132.02%;
    color: #1B1642;
    margin-bottom: 20px;
}

.about-text-2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    color: #1B1642;
    margin-bottom: 15px;
}

.about-button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;

    color: #6658EA;
}

.about-block {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about__text-group {
    flex-grow: 1;
    margin: 34px 32px 35px;
}