{% extends "base.html" %}
{% load static wagtailuserbar %}

{% load wagtailcore_tags %}

{% block body_class %} template-homepage {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/main.css' %}">
{% endblock %}

{% block content %}
<section class="generalBlock">
  <div class="generalBlock-container">
    <div class="row justify-content-left">
      <div data-aos="fade-up">

        <!-- Heading -->
        <h1 class="display-3 mb-4 homeHeader localization" caption="mondino">
          MONDINO
        </h1>

        <!-- Text -->
        <p class="homeSubheader localization" caption="mondinoSub">
          Мондино Технолоджес - мобильные технологии на страже вашего здоровья.
        </p>
      </div>
    </div>
    <div class="generalBackground_img">
      <img src="{% static 'img/home/generalBlock_img.png' %}">
    </div>
  </div>
</section>

<!-- PROJECTS LINKS -->
<section class="projects_links-block">
  <div class="pageWrapper projects">
    <div class="projectsRow">
      <div class="linkToProject" id="mondinoButton">
        <img src="{% static 'img/home/buttonsImages/tracker.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span class="localization" caption="linkMondino">MONDINO TRACKER</span>
      </div>
      <div class="linkToProject" id="vivatButton">
        <img src="{% static 'img/home/buttonsImages/vivat.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span class="localization" caption="linkVivat">VIVAT АПТЕКА</span>
      </div>
      <div class="linkToProject" id="screeningButton">
        <img src="{% static 'img/home/buttonsImages/screening.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span class="localization" caption="linkScreening">СКРИНИНГ ГЛАУКОМЫ</span>
      </div>
      <div class="linkToProject" id="femaleButton">
        <img src="{% static 'img/home/buttonsImages/female.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span class="localization" caption="linkFemale">ЖЕНСКОЕ ЗДОРОВЬЕ</span>
      </div>
      <div class="linkToProject" id="noaloneButton">
        <img src="{% static 'img/home/buttonsImages/notalone.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span class="localization" caption="linkYou">ТЫ НЕ ОДИН</span>
      </div>
      <div class="linkToProject" id="oncoButton">
        <img src="{% static 'img/home/buttonsImages/onco.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span class="localization" caption="linkOnco">ОНКОПОИСКСАХА</span>
      </div>
    </div>
  </div>
</section>

<!-- APP LINKS -->
<section class="appLinks">
  <div class="pageWrapper appRow">
    <div class="linksContent">
      <h2 class="display-3 mb-4 linksHeader localization" caption="mondinoApp">
        MONDINO ТРЕКЕР ЗДОРОВЬЯ
      </h2>
      <div class="headerBorder-light"></div>
      <p class="linksSubheader localization" caption="mondinoAppSub">
        Персональный медицинский Трекер. Следите за своим здоровьем и за лечением ваших близких онлайн.
      </p>
      <div class="linksButtons">
        <button class="linkButton localization" caption="learnMore" id="linksLearn">Перейти на сайт</button>
        <button class="linkButton localization" caption="privacy" id="linksPrivacy">Политика конфиденциальности</button>
      </div>
      <div class="linksDownload">
        <p class="linksDownload localization" caption="download">Скачайте наше приложение:</p>
        <div class="linksStore">
          <a href="">
            <img src="{% static 'img/home/appstore.svg' %}" alt="">
          </a>
          <a href="">
            <img src="{% static 'img/home/googleplay.svg' %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="linksImages">
    {% comment %} <img id="mondinoIcon" src="{% static 'img/home/mondinoIcon.png' %}" alt=""> {% endcomment %}
    <img id="linksHand" src="{% static 'img/home/linksHand.png' %}" alt="">
  </div>
</section>

<!-- VIVAT -->
<section class="vivat">
  <div class="pageWrapper vivatContent">
    <img src="{% static 'img/home/vivat.png' %}" alt="">
    <div class="blockContent">
      <h2 class="display-3 mb-4 linksHeader-2 localization" caption="vivat">
        VIVAT АПТЕКА
      </h2>
      <div class="headerBorder-dark"></div>
      <p class="linksSubheader-2 localization" caption="vivatSub">
        Персональный медицинский Трекер. Следите за своим здоровьем и за лечением ваших близких онлайн.
      </p>
      <div class="linksButtons">
        <button class="linkButton localization" caption="learnMore" id="linksLearn">Перейти на сайт</button>
        <button class="linkButton localization" caption="privacy" id="linksPrivacy">Политика конфиденциальности</button>
      </div>
    </div>
  </div>
</section>

<!-- SCREENING -->
<section class="screening">
  <div class="pageWrapper screeningRow">
    <div class="linksContent">
      <h2 class="display-3 mb-4 linksHeader localization" caption="screening">
        Скрининговый сервис по выявлению глаукомы
      </h2>
      <div class="headerBorder-light"></div>
      <p class="linksSubheader localization" caption="screeningSub">
        Персональный медицинский Трекер. Следите за своим здоровьем и за лечением ваших близких онлайн.
      </p>
      <div class="linksButtons">
        <button class="linkButton localization" caption="learnMore" id="linksLearn">Перейти на сайт</button>
        <button class="linkButton localization" caption="privacy" id="linksPrivacy">Политика конфиденциальности</button>
      </div>
    </div>
    <img src="{% static 'img/home/screening.png' %}" alt="" class="screeningImg">
  </div>
</section>

<!-- FEMALE HEALTH -->
<section class="female">
  <div class="pageWrapper femaleContent">
    <img src="{% static 'img/home/female.png' %}" alt="">
    <div class="blockContent">
      <h2 class="display-3 mb-4 linksHeader-2 localization" caption="female">
        ЖЕНСКОЕ ЗДОРОВЬЕ
      </h2>
      <div class="headerBorder-dark"></div>
      <p class="linksSubheader-2 localization" caption="femaleSub">
        Персональный медицинский Трекер. Следите за своим здоровьем и за лечением ваших близких онлайн.
      </p>
      <div class="linksButtons">
        <button class="linkButton localization" caption="learnMore" id="linksLearn">Перейти на сайт</button>
        <button class="linkButton localization" caption="privacy" id="linksPrivacy">Политика конфиденциальности</button>
      </div>
    </div>
  </div>
</section>

<!-- YOU ARE NOT ALONE -->
<section class="notalone">
  <div class="pageWrapper notaloneRow">
    <div class="notaloneContent">
      <h2 class="display-3 mb-4 linksHeader localization" caption="notAlone">
        ТЫ НЕ ОДИН
      </h2>
      <div class="headerBorder-light notaloneBorder-light"></div>
      <p class="linksSubheader localization" caption="notAloneSub">
        Персональный медицинский Трекер. Следите за своим здоровьем и за лечением ваших близких онлайн.
      </p>
      <div class="linksButtons">
        <button class="linkButton localization" caption="learnMore" id="linksLearn">Перейти на сайт</button>
        <button class="linkButton localization" caption="privacy" id="linksPrivacy">Политика конфиденциальности</button>
      </div>
    </div>
    <img src="{% static 'img/home/notalone.png' %}" alt="" class="notaloneImg">
  </div>
</section>

<!-- ONCO -->
<section class="onco">
  <div class="pageWrapper oncoContent">
    <img src="{% static 'img/home/onco.png' %}" alt="">
    <div class="blockContent">
      <h2 class="display-3 mb-4 linksHeader-2 localization" caption="screening">
        СКРИНИНГ И РАННЯЯ ДИАГНОСТИКА РАКА В ЯКУТИИ
      </h2>
      <div class="headerBorder-dark"></div>
      <p class="linksSubheader-2 localization" caption="screeningSub">
        Персональный медицинский Трекер. Следите за своим здоровьем и за лечением ваших близких онлайн.
      </p>
      <div class="linksButtons">
        <button class="linkButton localization" caption="learnMore" id="linksLearn">Перейти на сайт</button>
        <button class="linkButton localization" caption="privacy" id="linksPrivacy">Политика конфиденциальности</button>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/langLibs/home.js' %}"></script>
{% endblock %}