{% extends "base.html" %}
{% load static wagtailuserbar %}

{% load wagtailcore_tags %}

{% block body_class %} template-homepage {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/main.css' %}">
{% endblock %}

{% block content %}
<section class="pt-6 pt-md-11 pb-11 pb-md-13 generalBlock">
  <div class="pageWrapper">
    <div class="row justify-content-left">
      <div class="col-md-10 col-lg-8 col-xl-6" data-aos="fade-up">

        <!-- Heading -->
        <h1 class="display-3 mb-4 homeHeader">
          MONDINO TECHNOLOGIES
        </h1>

        <!-- Text -->
        <p class="homeSubheader">
          Мондино Технолоджес - мобильные технологии на страже вашего здоровья.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- PROJECTS LINKS -->
<section class="bg-light">
  <div class="pageWrapper projects">
    <div class="row projectsRow">
      <div class="linkToProject" id="mondinoButton">
        <img src="{% static 'img/home/buttonsImages/tracker.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span>MONDINO TRACKER</span>
      </div>
      <div class="linkToProject" id="vivatButton">
        <img src="{% static 'img/home/buttonsImages/vivat.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span>VIVAT АПТЕКА</span>
      </div>
      <div class="linkToProject" id="screeningButton">
        <img src="{% static 'img/home/buttonsImages/screening.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span>СКРИНИНГ ГЛАУКОМЫ</span>
      </div>
    </div>
    <div class="row projectsRow">
      <div class="linkToProject" id="femaleButton">
        <img src="{% static 'img/home/buttonsImages/female.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span>ЖЕНСКОЕ ЗДОРОВЬЕ</span>
      </div>
      <div class="linkToProject" id="noaloneButton">
        <img src="{% static 'img/home/buttonsImages/notalone.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span>ТЫ НЕ ОДИН</span>
      </div>
      <div class="linkToProject" id="oncoButton">
        <img src="{% static 'img/home/buttonsImages/onco.png' %}" alt="" >
        <div class="buttonBlur"></div>
        <span>ОНКОПОИСКСАХА</span>
      </div>
    </div>
  </div>
</section>

<!-- APP LINKS -->
<section class="appLinks">
  <div class="pageWrapper appRow">
    <div class="linksContent">
      <h2 class="display-3 mb-4 linksHeader">
        MONDINO TECHNOLOGIES
      </h2>
      <div class="headerBorder-light"></div>
      <p class="linksSubheader">
        Персональный медицинский Трекер. Следите за своим здоровьем и за лечением ваших близких онлайн.
      </p>
      <div class="linksButtons">
        <button class="linkButton" id="linksLearn">Узнать подробнее</button>
        <button class="linkButton" id="linksPrivacy">Политика конфиденциальности</button>
      </div>
      <div class="linksDowload">
        <p>Скачайте наше приложение:</p>
        <div class="linksStore">
          <img src="{% static 'img/home/appstore.svg' %}" alt="">
          <img src="{% static 'img/home/googleplay.svg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="linksImages">
    <img id="mondinoIcon" src="{% static 'img/home/mondinoIcon.png' %}" alt="">
    <img id="linksHand" src="{% static 'img/home/linksHand.png' %}" alt="">
  </div>
</section>

<!-- VIVAT -->
<section class="vivat">
  <div class="pageWrapper vivatContent">
    <img src="{% static 'img/home/vivat.png' %}" alt="">
    <div class="blockContent">
      <h2 class="display-3 mb-4 vivatHeader">
        VIVAT АПТЕКА
      </h2>
      <div class="headerBorder-dark"></div>
      <p class="vivatSubheader">
        Персональный медицинский Трекер. Следите за своим здоровьем и за лечением ваших близких онлайн.
      </p>
      <div class="linksButtons">
        <button class="linkButton" id="linksLearn">Узнать подробнее</button>
        <button class="linkButton" id="linksPrivacy">Политика конфиденциальности</button>
      </div>
    </div>
  </div>
</section>

<!-- SCREENING -->
<section class="screening">
  <div class="pageWrapper screeningRow">
    <div class="linksContent">
      <h2 class="display-3 mb-4 linksHeader">
        Скрининговый сервис по выявлению глаукомы
      </h2>
      <div class="headerBorder-light"></div>
      <p class="linksSubheader">
        Персональный медицинский Трекер. Следите за своим здоровьем и за лечением ваших близких онлайн.
      </p>
      <div class="linksButtons">
        <button class="linkButton" id="linksLearn">Узнать подробнее</button>
        <button class="linkButton" id="linksPrivacy">Политика конфиденциальности</button>
      </div>
    </div>
    <img src="{% static 'img/home/screening.png' %}" alt="" class="screeningImg">
  </div>
</section>

<!-- FEMALE HEALTH -->
<section class="female">
  <div class="pageWrapper femaleContent">
    <img src="{% static 'img/home/female.png' %}" alt="">
    <div class="blockContent">
      <h2 class="display-3 mb-4 femaleHeader">
        ЖЕНСКОЕ ЗДОРОВЬЕ
      </h2>
      <div class="headerBorder-dark"></div>
      <p class="femaleSubheader">
        Персональный медицинский Трекер. Следите за своим здоровьем и за лечением ваших близких онлайн.
      </p>
      <div class="linksButtons">
        <button class="linkButton" id="linksLearn">Узнать подробнее</button>
        <button class="linkButton" id="linksPrivacy">Политика конфиденциальности</button>
      </div>
    </div>
  </div>
</section>
{% endblock %}