{% load static wagtailuserbar %}
{% load i18n %}
<footer class="footer py-8 py-md-11">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-auto">


        <img src="{% static 'img/footer/logo.svg'  %}" alt="" style="width: 100%; height: auto">


      </div>
      <div class="col-auto col-md">


        <h6 class="text-uppercase mb-3 mb-md-5">
          {% trans "Компания" %}
        </h6>


        <ul class="list-unstyled">
          <li class="mb-3">
            <a href="/">{% trans "Главная" %}</a>
          </li>
          <li class="mb-3">
            <a href="/команда">{% trans "О компании" %}</a>
          </li>
          <li class="mb-3">
            <a href="/blog">{% trans "Блог" %}</a>
          </li>
          <li>
            <a href="/legal-page">{% trans "Правовая информация" %}</a>
          </li>
        </ul>

      </div>
      <div class="col-auto col-md">


        <h6 class="text-uppercase mb-3 mb-md-5">
          {% trans "Проекты" %}
        </h6>


        <ul class="list-unstyled">
          <li class="mb-3">
            <a href="https://mondinotracker.com/">Mondino Tracker</a>
          </li>
          <li class="mb-3">
            <a href="https://xn--80aawhbpgcajyb7c.xn--p1ai/">{% trans "ОнкоПоискСаха" %}</a>
          </li>
          <li class="mb-3">
            <a href="#!" disabled>{% trans "Совместимость" %}</a>
          </li>
          <li class="mb-3">
            <a href="http://xn----7sbbagaytx2c4ad.xn--p1ai/">{% trans "Vivat Аптека" %}</a>
          </li>
          <li class="mb-3">
            <a href="https://xn--80aaaal7bfkr6ar4a.xn--p1ai/">{% trans "Скрининг Глаукомы" %}</a>
          </li>
          <li class="mb-3">
            <a href="https://xn-----8kcahlfadeo7a1bpea7akm5f8g.xn--p1ai/">{% trans "Женское Здоровье" %}</a>
          </li>
          <li class="mb-3">
            <a href="http://xn--80aakdq1adf4ad5b1d.xn--p1ai/">{% trans "Ты Не Один" %}</a>
          </li>
        </ul>

      </div>
      <div class="col-auto col-md">


        <h6 class="text-uppercase mb-3 mb-md-5">
          {% trans "Скачайте Mondino трекер:" %}
        </h6>


        <div class="d-flex flex-column align-items-end">
          <ul class="list-unstyled">
            <li class="mb-3">
              <a href="https://apps.apple.com/ru/app/%D0%BA%D0%B0%D1%80%D0%BC%D0%B0%D0%BD%D0%BD%D1%8B%D0%B9-%D0%B4%D0%BE%D0%BA%D1%82%D0%BE%D1%80/id1582953573">
                <img src="{% static 'img/footer/appstore.svg' %}" alt="">
              </a>
            </li>
            <li class="mb-3">
              <a href="https://play.google.com/store/apps/details?id=com.mondino.pocketmedic">
                <img src="{% static 'img/footer/googleplay.svg' %}" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">8(999) 245-18-18</div>
      <div class="col-auto">mondino.tech@gmail.com</div>
      <div class="col-auto">Mondino technologies. {% trans "Все права защищены" %}</div>
      <div class="col-auto">
        <a href="/policy">{% trans "Политика конфиденциальности" %}</a> | <a href="https://docs.google.com/document/d/1VWWkeTEAZZWpjgfpzmJEYcH6kspoSRAdffYrH8yYy8g">{% trans "Лицензионное соглашение" %}</a>
      </div>
    </div>
  </div>
</footer>