{% load static wagtailuserbar %}
<footer class="footer py-8 py-md-11">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-auto">


        <img src="{% static 'img/footer/logo.png'  %}" alt="" style="width: 100%; height: auto">


      </div>
      <div class="col-auto col-md">


        <h6 class="text-uppercase mb-3 mb-md-5 localization" caption="footer1">
          Компания
        </h6>


        <ul class="list-unstyled">
          <li class="mb-3">
            <a class="localization" caption="footer11" href="#!">Главная</a>
          </li>
          <li class="mb-3">
            <a class="localization" caption="footer12" href="#!">О компании</a>
          </li>
          <li>
            <a class="localization" caption="footer13" href="#!">Блог</a>
          </li>
        </ul>

      </div>
      <div class="col-auto col-md">


        <h6 class="text-uppercase  mb-3 mb-md-5 localization" caption="footer2">
          Проекты
        </h6>


        <ul class="list-unstyled">
          <li class="mb-3">
            <a class="localization" caption="footer21" href="#!">Mondino Tracker</a>
          </li>
          <li class="mb-3">
            <a class="localization" caption="footer22" href="#!">Vivat аптека</a>
          </li>
          <li class="mb-3">
            <a class="localization" caption="footer23" href="#!">Скрининг глаукомы</a>
          </li>
          <li class="mb-3">
            <a class="localization" caption="footer24" href="#!">Женское здоровье</a>
          </li>
          <li class="mb-3">
            <a class="localization" caption="footer25" href="#!">Ты не один</a>
          </li>
          <li class="mb-3">
            <a class="localization" caption="footer26" href="#!">ОнкоПоискСаха</a>
          </li>
        </ul>

      </div>
      <div class="col-auto col-md">


        <h6 class="text-uppercase mb-3 mb-md-5 localization" caption="footer3">
          Скачайте Mondino трекер:
        </h6>


        <div class="d-flex flex-column align-items-end">
          <ul class="list-unstyled">
            <li class="mb-3">
              <img src="{% static 'img/footer/appstore.svg' %}" alt="">
            </li>
            <li class="mb-3">
              <img src="{% static 'img/footer/googleplay.svg' %}" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">8(999) 245-18-18</div>
      <div class="col-auto">mondino.tech@gmail.com</div>
      <div class="col-auto localization" caption="footer4">Mondino technologies. Все права защищены</div>
      <div class="col-auto localization" caption="footer5">
        <a href="!#">Политика конфиденциальности</a> | <a href="!#">Лицензионное соглашение</a>
      </div>
    </div>
  </div>
</footer>