<!-- <footer class="footer py-8 py-md-11 bg-dark border-multicolor">
  <div class="container-lg">
        <div class="row">
          <div class="col-md-4">

         
  <h2 class="font-family-serif text-white mb-1">
    Pocket medic
  </h2>

  
  <p class="text-white-60">
    Все, что нужно для здоровья.
  </p>

  </div>
  <div class="col-6 col-md">

    
    <h6 class="text-uppercase text-white mb-3 mb-md-5">
      Главная
    </h6>

  
    <ul class="list-unstyled">
      <li class="mb-3">
        <a class="text-white-60" href="#!">Функционал</a>
      </li>
      <li class="mb-3">
        <a class="text-white-60" href="#!">Оставить отзыв</a>
      </li>
      <li>
        <a class="text-white-60" href="#!">Миссия</a>
      </li>
    </ul>

  </div>
  <div class="col-6 col-md">

  
    <h6 class="text-uppercase text-white mb-3 mb-md-5">
      О приложении
    </h6>


    <ul class="list-unstyled">
      <li class="mb-3">
        <a class="text-white-60" href="#!">Главная</a>
      </li>
      <li class="mb-3">
        <a class="text-white-60" href="#!">Возможности</a>
      </li>
      <li class="mb-3">
        <a class="text-white-60" href="#!">Акции</a>
      </li>
      <li>
        <a class="text-white-60" href="#!">Видео</a>
      </li>
    </ul>

  </div>
  <div class="col-6 col-md">

    
    <h6 class="text-uppercase text-white mb-3 mb-md-5">
      Блог
    </h6>

 
    <ul class="list-unstyled">
      <li class="mb-3">
        <a class="text-white-60" href="#!">Команда</a>
      </li>
      <li class="mb-3">
        <a class="text-white-60" href="#!">СМИ о нас</a>
      </li>
      <li>
        <a class="text-white-60" href="#!">Ценности</a>
      </li>
    </ul>

  </div>
  <div class="col-6 col-md">

  
    <h6 class="text-uppercase text-white mb-3 mb-md-5">
      Связаться с нами
    </h6>

  
    <ul class="list-unstyled">
      <li class="mb-3">
        <a class="text-white-60" href="#!">Помощь</a>
      </li>
      <li class="mb-3">
        <a class="text-white-60" href="#!">Контакты</a>
      </li>
      <li class="mb-3">
        <a class="text-white-60" href="#!">Оставить отзыв</a>
      </li>
      <li>
        <a class="text-white-60" href="#!">FAQ</a>
      </li>
    </ul>
  </div>
  </div>
  </div>
</footer> -->