{% load menu_tags %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-lg">
        <a class="navbar-brand d-lg-none" href="./index.html">Mondino Technologies</a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav justify-content-center w-100">

                {% for menu in main_menu.items %}
                <li>
                    <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false" href="{{ menu.href}}">
                        {{ menu.text }}
                    </a>
                </li>
                {% if forloop.counter == 2 %}
                <a class="navbar-brand d-none d-lg-block px-lg-6" href="/" style="font-family: sans-serif;">Главная</a>
                {% endif %}
                {% endfor %}
            </ul>
            <button class="btn btn-outline-primary" style="border-radius: 20px;" onclick="Login()">
                Вход
            </button>
        </div>

    </div>
    <script type="text/javascript">
        function Login() {
            location.href = "/registration"
        }
    </script>
</nav>