{% load static wagtailuserbar %}
{% load menu_tags %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand d-lg-none" href="/"><img src="{% static 'img/header/logo.png' %}" alt=""></a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

            <img src="{% static 'img/header/logo.png' %}" class=".d-none .d-lg-block .d-xl-none" alt="">

            <ul class="navbar-nav flex-nowrap w-100 justify-content-end align-items-center">
                <li>
                    <a class="nav-link localization" caption="menu1" role="button" aria-haspopup="true" aria-expanded="false" href="/">Р“Р»Р°РІРЅР°СЏ</a>
                </li>
                {% comment %} <a class="navbar-brand d-none d-lg-block px-lg-6" href="/" style="font-family: sans-serif;">Р“Р»Р°РІРЅР°СЏ</a> {% endcomment %}
                {% for menu in main_menu.items %}
                <li>
                    <a class="nav-link localization" caption="menus{{ forloop.counter }}" role="button" aria-haspopup="true" aria-expanded="false" href="{{ menu.href}}">
                        {{ menu.text }}
                    </a>
                </li>
                {% endfor %}
                <li>
                    <button type="button" class="btn btn-link dropdown-toggle localization" caption="menu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        РџСЂРѕРµРєС‚С‹
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item localization" caption="menu51" type="button">Mondino Tracker</button>
                        <button class="dropdown-item localization" caption="menu52" type="button">Vivat РђРїС‚РµРєР°</button>
                        <button class="dropdown-item localization" caption="menu53" type="button">РЎРєСЂРёРЅРёРЅРі Р“Р»Р°СѓРєРѕРјС‹</button>
                        <button class="dropdown-item localization" caption="menu54" type="button">Р–РµРЅСЃРєРѕРµ Р—РґРѕСЂРѕРІСЊРµ</button>
                        <button class="dropdown-item localization" caption="menu55" type="button">РўС‹ РќРµ РћРґРёРЅ</button>
                        <button class="dropdown-item localization" caption="menu56" type="button">РћРЅРєРѕРїРѕРёСЃРє</button>
                    </div>
                </li>
                <li class="d-flex flex-row">
                    <div class="langTab" name="user-lang" id="rus" onclick="changeLang('rus')">RU</div>/
                    <div class="langTab" name="user-lang" id="eng" onclick="changeLang('eng')">EN</div>
                </li>
            </ul>
            {% comment %} <button class="btn btn-outline-primary" style="border-radius: 20px;" onclick="Login()">
                Р’С…РѕРґ
            </button> {% endcomment %}
        </div>

    </div>
    <script type="text/javascript">
        function Login() {
            location.href = "/registration"
        }
    </script>
</nav>