.medicine_block {
    padding: 73px 0 73px;
    display: block!important;
}
.medicine_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.medicine_title {
    margin-bottom: 100px;
    max-width: 845px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 108%;

    color: #1B1642;
}
.medicine_text {
    width: 439px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;

    color: #575A7B;
}
.medicine__img {
    width: 274px;
}

@media (max-width: 1200px){
    .medicine_container{
        justify-self: center;
        text-align: left;
        flex-direction: column;
        padding: 0 25px;
    }
    .medicine_title{
        font-weight: 700;
        font-size: 60px;
        width: 100%;
        margin-bottom: 35px;
    }
    .medicine__img{
        align-self: center;
        max-height: 230px;
    }
    .medicine_text{
        font-size: 18px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px){
    .medicine_container{
        text-align: left;
    }
    .medicine__img{
        align-self: center;
        width: 170px;
        max-height: 230px;
    }
    .medicine_title{
        font-weight: 700;
        font-size: 47px;
        width: 100%;
        margin-bottom: 35px;
    }
    .medicine_text{
        font-size: 16px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px){
    .medicine_container{
        text-align: left;
    }
    .medicine__img{
        align-self: center;
        width: 170px;
        max-height: 230px;
    }
    .medicine_text{
        width: 260px;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .medicine_title{
        font-weight: 700;
        font-size: 37px;
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 576px){
    .medicine_container{
        text-align: left;
    }
    .medicine__img{
        align-self: center;
        width: 170px;
        max-height: 230px;
    }
    .medicine_content-img{
        max-width: 50px;
    }
    .medicine_title{
        font-weight: 700;
        font-size: 27px;
        width: 100%;
        margin-bottom: 35px;
    }
    .medicine_text{
        width: 200px;
        font-size: 10px;
        margin-bottom: 20px;
    }
}