.showboat_block {
    padding: 98px 0 98px;
    background: #1B1641;
}
.showboat_title {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;

    text-align: center;

    color: #FFFFFF;
}
.showboat_text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;

    text-align: center;

    color: #FFFFFF;
}
.showboat_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.showboat_block_img {
    margin-bottom: 53px;
    width: 345px;
    height: 373px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showboat_img {
   margin-bottom: 45px;
}
@media (max-width: 1200px){
    .showboat_block_img {
        height: auto;
        width: 25.01%;
    }
    .showboat_title {
        font-weight: 700;
        font-size: 12px;
        width: 100%;
        margin-bottom: 11px;
    }
    .showboat_text {
        font-weight: 300;
        font-size: 10px;
        margin-bottom: 21px;
    }
    .showboat_img {
        width: 55.44px;
        height: 55.44px;
        margin-bottom: 29px;
    }
}
@media (max-width: 1024px){
    .showboat_block_img {
        height: auto;
        width: 25.1%;
    }
    .showboat_title {
        font-weight: 700;
        font-size: 12px;
        width: 100%;
        margin-bottom: 11px;
    }
    .showboat_text {
        font-weight: 300;
        font-size: 10px;
        margin-bottom: 21px;
    }
    .showboat_img {
        width: 55.44px;
        height: 55.44px;
        margin-bottom: 29px;
    }
}
@media (max-width: 768px){
    .showboat_block{
        padding: 30px 0;
    }
    .showboat_block_img {
        height: auto;
        width: 26%;
        margin-bottom: 0;
    }
    .showboat_title {
        font-weight: 700;
        font-size: 12px;
        width: 100%;
        margin-bottom: 11px;
    }
    .showboat_text {
        font-weight: 300;
        font-size: 8px;
        margin-bottom: 21px;
    }
    .showboat_img {
        width: 55.44px;
        height: 55.44px;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px){
    .showboat_container{
        justify-content: space-between;
    }
    .showboat_block_img {
        height: auto;
        width: 26%;
    }
    .showboat_title {
        font-weight: 700;
        font-size: 11px;
        width: 100%;
        margin-bottom: 11px;
    }
    .showboat_text {
        font-weight: 300;
        font-size: 7px;
        margin-bottom: 21px;
    }
    .showboat_img {
        width: 55.44px;
        height: 55.44px;
    }
}
@media (max-width: 300px){
    .showboat_container{
        justify-content: space-between;
    }
    .showboat_block_img {
        height: 10%;
        width: 25.1%;
    }
    .showboat_title {
        font-weight: 700;
        font-size: 10px;
        width: 100%;
        margin-bottom: 11px;
    }
    .showboat_text {
        font-weight: 300;
        font-size: 7px;
        margin-bottom: 21px;
    }
    .showboat_img {
        width: 55.44px;
        height: 55.44px;
    }
}