.tasks__block{
    padding: 81px 0 0;
    background-color: white;
}
.tasks__img{
    max-height: 604px;
}
.tasks__container{
    display: flex;
    flex-wrap: wrap;
}
.tasks__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.tasks_content_icon{
    height: 50%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}
.tasks__title{
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;

    letter-spacing: 0.18em;
    text-transform: uppercase;

    color: #6658EA;
}
.tasks__text{
    margin-bottom: 79px;
    width: 723px;
    /* height: 126px; */
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 108%;
    
    color: #1B1642;
}
.tasks__content-img{
    max-width: 181px;
}
.tasks_text_title {
    display: flex;
    flex-direction: row;
}
.tasks_under_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
}
.tasks_text_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 250px;
    margin-bottom: 35px;
}
.tasks_text_title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 108%;

    text-align: center;

    color: #1B1642;
}
.tasks_text_text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;

    text-align: center;

    color: #575A7B;
}
.tasks_content_under {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1480px){
    .tasks__container.container {
        display: flex;
        flex-direction: row;
        justify-content: right; 
    }
    .tasks__text {
        font-weight: 700;
        font-size: 45px;
        line-height: 108%;
    }
    .tasks_content_under {
        width: auto;
    }
    .tasks_content-img{
        max-width: 181px;
    }
    .tasks__content-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tasks_text_block {
        min-width: 208px;
        margin-bottom: 35px;
    }
    .tasks__content{
        width: 75%;
    }
    
}
@media (max-width: 1399px){
    .tasks__container.container {
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }
    .tasks__text {
        font-weight: 700;
        font-size: 45px;
        line-height: 108%;
    }
    .tasks_content_under {
        width: auto;
    }
    .tasks_content-img{
        max-width: 181px;
    }
    .tasks_text_block {
        min-width: 208px;
        margin-bottom: 35px;
    }
    .tasks__content{
        width: 75%;
    }
}

@media (max-width: 1200px){
    .tasks__block {
        padding: 51px 0 0;
    }
    .tasks__container-container {
        display: flex;
        flex-direction: row; 
    }
    .tasks__text {
        font-weight: 700;
        font-size: 43px;
        line-height: 108%;
        margin-bottom: 45px;
    }
    .tasks_content_under {
        width: auto;
    }
    .tasks_content-img{
        max-width: 181px;
    }
    .tasks_text_block {
        min-width: 208px;
        margin-bottom: 35px;
        
    }
    .tasks_content_icon{
        height: 50%;
        width: 150px;
    }
    .tasks_text_title {
        font-size: 40px;
    }
    .tasks_text_text {
        font-size: 17px;
    }
    .tasks__img {
        max-height: 550px;
    }
}

@media (max-width: 1024px){
    .tasks__text {
        font-weight: 700;
        line-height: 108%;
        font-size: 43px;
        width: auto;
        margin-bottom: 45px;
    }
    .tasks__title { 
        font-size: 15px;
        margin-bottom: 5px;
    }
    .tasks_content-img{
        display: none;
    }
    .tasks_text_block {
        min-width: 210px;
        margin-bottom: 35px;  
    }
    .tasks_content_icon{
        display: none;
    }
    .tasks_under_text {
        width: 100%;
    }
}
@media (max-width: 991px){
    .tasks__text {
        margin-bottom: 35px;
        font-size: 43px;
    }
    .tasks_text_block {
        min-width: 25%;
        margin-bottom: 35px;  
    }
    .tasks_text_title {
        font-size: 34px;
    }
    .tasks_text_text {
        font-size: 15px;
    }
    .tasks__img {
        max-height: 550px;
    }
    .tasks__title {
        font-size: 12px;
        margin-bottom: 5px;
    }
    
}

@media (max-width: 767px){
    .tasks__text {
        font-size: 35px;
    }
    .tasks_text_block {
        min-width: 50%;
        margin-bottom: 35px;  
    }
    .tasks_text_title {
        font-size: 29px;
    }
    .tasks_text_text {
        font-size: 15px;
    }
    .tasks_content_icon{
        height: 50%;
        width: 100px;
    }
    .tasks__img {
        max-height: 470px;
    }
    
    
}

@media (max-width: 576px){
    .tasks__block {
        padding: 41px 0 0;
    }
    .tasks__text {
        margin-bottom: 30px;
        font-size: 25px;
    }
    .tasks_under_text{
        justify-content: space-evenly;
    }
    .tasks_text_block {
        margin-bottom: 35px;  
    }
    .tasks_text_title {
        font-size: 22px;
    }
    .tasks_text_text {
        font-size: 12px;
    }
    .tasks_content_icon{
        width: 80px;
    }
    .tasks__img {
        max-height: 470px;
    }
    
    
}
@media (max-width: 493px){
    .tasks__block {
        padding: 41px 0 0;
    }
    .tasks__text {
        font-size: 25px;
    }
    .tasks_text_block {
        margin-bottom: 35px;  
    }
    .tasks_text_title {
        font-size: 22px;
    }
    .tasks_text_text {
        font-size: 12px;
    }
    .tasks_content_icon{
        height: 50%;
        width: 80px;
    }
    .tasks__img {
        max-height: 370px;
    }
}
@media (max-width: 405px){
    .tasks__title {
        font-size: 10px;
    }
    .tasks_text_block {
        margin-bottom: 35px;  
    }
    .tasks_text_title {
        font-size: 16px;
    }
    .tasks_text_text {
        font-size: 12px;
    }
    .tasks_content_icon{
        width: 75px;
    }
    .tasks__img {
        max-height: 300px;
    }
    
    
}
@media (max-width: 367px){
    .tasks__container.container{
        height: 100%;
    }
    .tasks__title {
        font-size: 10px;
    }
    .tasks__text {
        font-size: 25px;
        width: auto;
    }
    .tasks_text_block {
        margin-bottom: 15px;  
    }
    .tasks_content_icon{
        width: 55px;
    }
    .tasks__img {
        max-height: 250px;
    }
}
@media (max-width: 285px){
    .tasks__container.container{
        height: 300px;
    }
    .tasks__block {
        padding: 31px 0 0;
    }
    .tasks_text_block {
        margin-bottom: 0;  
    }
    .tasks_content_icon{
        width: 45px;
    }
    .tasks__img {
        max-height: 200px;
    }
    .tasks_content_under {
        height: 150px;
    }
    .tasks__container.container {
        height: 100%;
    }
}