{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
<style>
    .search-input {
        height: 60px;
        padding: 7px 25px;

    }

    .search-input input {
        outline: None;
        padding: 10px;
        width: 80%;
        margin: 7px;
    }
</style>

<section class="pt-6 pt-md-6 pb-10 pb-md-12"
    style="background-image: url(../../static/assets/img/medic/backround-theme.png);">
    <div class="container  shadow-lg p-3 mb-5" style="background: #FFFFFF;" id="search-form">
        <div class="d-flex flex-row justify-content-between">
            <h2 style="font-family: sans-serif;">Проверка взаимодействия лекарственных средств</h2>
            <div class="btn btn-dark" @click="functionFaq()">
                Вопрос ответ
            </div>
        </div>
        <modal v-if="showModal" name="Umesh" style="display: flex; justify-content: center;">

            <div class="modal-dialog" style=" position: absolute;
            z-index: 1;">
                <div class="modal-content">
                    <div class="modal-body">
                        <slot>В данной версии базы данных взаимодействий не найдено, но это не означает, что их
                            достоверно нет. Согласуйте с инструкциями к препаратам!</slot>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click="showModal = false">Close</button>
                    </div>
                </div>
            </div>

        </modal>
        <div class="row d-flex " style="margin: 0 auto">
            <form class="d-flex flex-column  p-3 col-xl-6 ">
                <label style="font-size: 14px; text-align: center">Международное непатентованное наименование
                    (МНН)</label>
                <div style="margin-top: 7px; margin-bottom: 7px;"
                    class="search-input d-flex justify-content-center align-items-center" v-for="input in inputs"
                    :key="input.id">
                    <div class="d-flex flex-column w-100 " id="divInput">
                        <div class="d-flex flex-row ">
                            <input type="text" v-model="input.value" v-on:input="searchAutoComplete"
                                placeholder="Введите лекарство" autocomplete="off" @input="filterStates"
                                @focus="input.modal = true" @blur="functionBlur(input.id)" />
                            <div v-on:click="deleteInput(input.id)" class="btn btn-danger">Х</div>
                        </div>
                        <div v-if="input.filteredStates && input.modal" class="bg-dark text-white "
                            style="position: absolute; text-decoration: none; margin-top: 59px; margin-left: 9px;  width: 250px; ">
                            <div class="d-flex flex-column">
                                <div v-for="filteredState in input.filteredStates"
                                    v-on:click="setState(filteredState, input.id)"
                                    style="list-style-type: none; cursor: pointer; padding-left: 12px; padding-top: 5px"
                                    class="border-bottom d-flex">
                                    [[filteredState]]
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div v-on:click="addInput" class="btn btn-success">Добавить лекарство</div>
                <div v-on:click="compareInteractions" class="btn btn-success" style="margin-top: 15px">Посмотреть
                    совместимости
                </div>
            </form>
            <div class="d-flex flex-column p-3 col-xl-6 ">
                <label style="font-size: 14px;">Взаимодействие</label>
                <textarea disabled
                    style="padding: 15px 30px; border: 1px solid #C8C1FF; height: 670px; color: gray; outline: none;"
                    placeholder="Пока эффектов нет">[[ effect ]]</textarea>
            </div>
        </div>
    </div>
</section>



<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const SearchForm = {
        delimiters: ["[[", "]]"],
        data() {
            return {
                states: [],
                idCounter: 1,
                effect: '',
                showModal: false,
                inputs: [
                    {
                        text: 'Введите лекарство',
                        value: '',
                        id: 0,
                        modal: false,
                        filteredStates: [],
                    },
                    {
                        text: 'Введите лекарство',
                        value: '',
                        id: 1,
                        modal: false,
                        filteredStates: [],
                    },
                ]
            }
        },

        methods: {
            searchAutoComplete: function ({ target }) {
                let searchGetParameter = target.value
                axios
                    .get(`https://pocketmedic.online/compare/drugs_search?drug=` + searchGetParameter)
                    .then(response => {
                        const compares = response.data.drug_main_name
                        this.states = Object.values(compares)
                    })
            },
            compareInteractions: function () {
                let getParams = ''
                this.inputs.map(({ value }) => {
                    getParams = getParams + `test_case=${value}&`
                })
                axios
                    .get(`https://pocketmedic.online/compare/drugs_1?` + getParams)
                    .then(response => {
                        const compares = response.data
                        let result = ''
                        compares.map((compare) => {
                            if (compare.effect !== 'not effect') {
                                result = result + `${compare.mnn_1}(${compare.drug_1}) и ${compare.mnn_2} (${compare.drug_2}) взаимодействуют: ${Object.values(compare.effect)} \n`
                            } else {
                                this.showModal = true
                            }
                        })
                        this.effect = (result)
                    }).catch((error) => {

                    })
            },
            deleteInput(item) {
                this.idCounter -= 1
                const deleteId = item
                let input = this.inputs.find(item => item.id === deleteId)
                input.modal = false
                this.inputs = this.inputs.filter(({ id }) => {
                    return (id !== deleteId)
                })
            },
            addInput() {
                this.idCounter += 1
                this.inputs.push(
                    {
                        text: 'Введите лекарство',
                        value: '',
                        id: this.idCounter,
                        modal: false,
                        filteredStates: [],
                    }
                )
            },
            filterStates() {
                this.inputs.map((item) => {
                    item.filteredStates = this.states.filter(state => {
                        return state.toLowerCase().startsWith(
                            item.value.toLowerCase()
                        );
                    })
                })

            },
            setState(state, inputId) {
                let input = this.inputs.find(item => item.id === inputId)
                input.value = state
                this.inputs[inputId].modal = false
            },
            functionFaq() {
                location.href = '/совместимости/faq'
            },
            functionBlur(modalId) {
                setTimeout(() => {
                    this.inputs[modalId].modal = false
                }, 200)
            },
        },

    }
    Vue.createApp(SearchForm).mount('#search-form')

</script>
{% endblock %}