{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}Blog Page{% endblock %}

{% block content %}
    <h1>{{ page.theme }}</h1>

    {% if page.post_image %}
        {% image page.post_image width-500 %}
    {% endif %}

    {{ page.description|richtext }}

    <section class="pt-6 pt-md-11 bg-dark">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 text-center text-white">

                    <!-- Preheading -->
                    <h6 class="text-uppercase text-warning mb-5">
                        Будь в курсе медицинских трэндов
                    </h6>

                    <!-- Heading -->
                    <h1 class="display-3 mb-4">
                        Наш блог
                    </h1>

                    <!-- Text -->
                    <p class="font-size-lg">
                        Здесь мы рвссказываем обо всех трэндах в медицине, о команде, опыте и в целом про нашу компанию
                        ООО "Мондино Технолоджес"
                    </p>

                    <!-- Form -->
                    <form class="mx-auto text-white" style="max-width: 462px;">
                        <div class="input-group">
                            <div class="input-group-prepend">
                  <span class="input-group-text" id="search">
                    <i class="fe fe-search"></i>
                  </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Поиск по темам или заголовкам"
                                   aria-label="Search" aria-describedby="search">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-fluid-x shape-bottom text-dark pb-18">
            <div class="shape-img pb-8 pb-md-11">
                <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                    <path d="M0 0h100v25H75L25 50H0z" fill="currentColor"/>
                </svg>
            </div>
        </div>
    </div>

    <!-- POSTS -->
    <section class="pt-10 pt-md-12">
        <div class="container-lg">
            <div class="row mt-n6">
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" height="230px" src="" alt="TitovMihail">

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Founder & Президент - Титов Михаил
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                "Пока челов чувствует боль - он жив. Пока человек чувствует чужую боль - он человек".
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">

                                <!-- Avatar -->
                                <div class="avatar avatar-xs">
                                    <img class="avatar-img rounded-circle" src="" alt="avatar">
                                </div>

                                <!-- Body -->
                                <div class="ml-4 text-left">

                                    <!-- Title -->
                                    <p class="small mb-0">
                                        Михаил Титов
                                    </p>

                                    <!-- Position -->
                                    <p class="small text-muted mt-n1 mb-0">
                                        Предприниматель
                                    </p>

                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" height="230px" src="" alt="TitovMihail">

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Founder & Президент - Титов Михаил
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                "Пока челов чувствует боль - он жив. Пока человек чувствует чужую боль - он человек".
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">

                                <!-- Avatar -->
                                <div class="avatar avatar-xs">
                                    <img class="avatar-img rounded-circle" src="" alt="avatar">
                                </div>

                                <!-- Body -->
                                <div class="ml-4 text-left">

                                    <!-- Title -->
                                    <p class="small mb-0">
                                        Михаил Титов
                                    </p>

                                    <!-- Position -->
                                    <p class="small text-muted mt-n1 mb-0">
                                        Предприниматель
                                    </p>

                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" height="230px" src="" alt="TitovMihail">

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Founder & Президент - Титов Михаил
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                "Пока челов чувствует боль - он жив. Пока человек чувствует чужую боль - он человек".
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">

                                <!-- Avatar -->
                                <div class="avatar avatar-xs">
                                    <img class="avatar-img rounded-circle" src="" alt="avatar">
                                </div>

                                <!-- Body -->
                                <div class="ml-4 text-left">

                                    <!-- Title -->
                                    <p class="small mb-0">
                                        Михаил Титов
                                    </p>

                                    <!-- Position -->
                                    <p class="small text-muted mt-n1 mb-0">
                                        Предприниматель
                                    </p>

                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- GUIDEBOOK -->
    <section class="pt-9 pt-md-11">
        <div class="container-lg">
            <div class="row">
                <div class="col-12">

                    <!-- Heading -->
                    <h1 class="mb-0">
                        Актуальное. Последние события
                    </h1>

                    <!-- Text -->
                    <p class="text-gray-600">
                        Главное событие прошедшего 2020 года
                    </p>

                    <!-- DECORATION -->
                    <div class="position-relative">
                        <div class="position-absolute top-right text-warning mt-n11 mr-n7">
                            <svg width="185" height="186" viewBox="0 0 185 186" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <circle cx="2" cy="2" r="2" fill="currentColor"/>
                                <circle cx="22" cy="2" r="2" fill="currentColor"/>
                                <circle cx="42" cy="2" r="2" fill="currentColor"/>
                                <circle cx="62" cy="2" r="2" fill="currentColor"/>
                                <circle cx="82" cy="2" r="2" fill="currentColor"/>
                                <circle cx="102" cy="2" r="2" fill="currentColor"/>
                                <circle cx="122" cy="2" r="2" fill="currentColor"/>
                                <circle cx="142" cy="2" r="2" fill="currentColor"/>
                                <circle cx="162" cy="2" r="2" fill="currentColor"/>
                                <circle cx="182" cy="2" r="2" fill="currentColor"/>
                                <circle cx="2" cy="22" r="2" fill="currentColor"/>
                                <circle cx="22" cy="22" r="2" fill="currentColor"/>
                                <circle cx="42" cy="22" r="2" fill="currentColor"/>
                                <circle cx="62" cy="22" r="2" fill="currentColor"/>
                                <circle cx="82" cy="22" r="2" fill="currentColor"/>
                                <circle cx="102" cy="22" r="2" fill="currentColor"/>
                                <circle cx="122" cy="22" r="2" fill="currentColor"/>
                                <circle cx="142" cy="22" r="2" fill="currentColor"/>
                                <circle cx="162" cy="22" r="2" fill="currentColor"/>
                                <circle cx="182" cy="22" r="2" fill="currentColor"/>
                                <circle cx="2" cy="42" r="2" fill="currentColor"/>
                                <circle cx="22" cy="42" r="2" fill="currentColor"/>
                                <circle cx="42" cy="42" r="2" fill="currentColor"/>
                                <circle cx="62" cy="42" r="2" fill="currentColor"/>
                                <circle cx="82" cy="42" r="2" fill="currentColor"/>
                                <circle cx="102" cy="42" r="2" fill="currentColor"/>
                                <circle cx="122" cy="42" r="2" fill="currentColor"/>
                                <circle cx="142" cy="42" r="2" fill="currentColor"/>
                                <circle cx="162" cy="42" r="2" fill="currentColor"/>
                                <circle cx="182" cy="42" r="2" fill="currentColor"/>
                                <circle cx="2" cy="62" r="2" fill="currentColor"/>
                                <circle cx="22" cy="62" r="2" fill="currentColor"/>
                                <circle cx="42" cy="62" r="2" fill="currentColor"/>
                                <circle cx="62" cy="62" r="2" fill="currentColor"/>
                                <circle cx="82" cy="62" r="2" fill="currentColor"/>
                                <circle cx="102" cy="62" r="2" fill="currentColor"/>
                                <circle cx="122" cy="62" r="2" fill="currentColor"/>
                                <circle cx="142" cy="62" r="2" fill="currentColor"/>
                                <circle cx="162" cy="62" r="2" fill="currentColor"/>
                                <circle cx="182" cy="62" r="2" fill="currentColor"/>
                                <circle cx="2" cy="82" r="2" fill="currentColor"/>
                                <circle cx="22" cy="82" r="2" fill="currentColor"/>
                                <circle cx="42" cy="82" r="2" fill="currentColor"/>
                                <circle cx="62" cy="82" r="2" fill="currentColor"/>
                                <circle cx="82" cy="82" r="2" fill="currentColor"/>
                                <circle cx="102" cy="82" r="2" fill="currentColor"/>
                                <circle cx="122" cy="82" r="2" fill="currentColor"/>
                                <circle cx="142" cy="82" r="2" fill="currentColor"/>
                                <circle cx="162" cy="82" r="2" fill="currentColor"/>
                                <circle cx="182" cy="82" r="2" fill="currentColor"/>
                                <circle cx="2" cy="102" r="2" fill="currentColor"/>
                                <circle cx="22" cy="102" r="2" fill="currentColor"/>
                                <circle cx="42" cy="102" r="2" fill="currentColor"/>
                                <circle cx="62" cy="102" r="2" fill="currentColor"/>
                                <circle cx="82" cy="102" r="2" fill="currentColor"/>
                                <circle cx="102" cy="102" r="2" fill="currentColor"/>
                                <circle cx="122" cy="102" r="2" fill="currentColor"/>
                                <circle cx="142" cy="102" r="2" fill="currentColor"/>
                                <circle cx="162" cy="102" r="2" fill="currentColor"/>
                                <circle cx="182" cy="102" r="2" fill="currentColor"/>
                                <circle cx="2" cy="122" r="2" fill="currentColor"/>
                                <circle cx="22" cy="122" r="2" fill="currentColor"/>
                                <circle cx="42" cy="122" r="2" fill="currentColor"/>
                                <circle cx="62" cy="122" r="2" fill="currentColor"/>
                                <circle cx="82" cy="122" r="2" fill="currentColor"/>
                                <circle cx="102" cy="122" r="2" fill="currentColor"/>
                                <circle cx="122" cy="122" r="2" fill="currentColor"/>
                                <circle cx="142" cy="122" r="2" fill="currentColor"/>
                                <circle cx="162" cy="122" r="2" fill="currentColor"/>
                                <circle cx="182" cy="122" r="2" fill="currentColor"/>
                                <circle cx="2" cy="142" r="2" fill="currentColor"/>
                                <circle cx="22" cy="142" r="2" fill="currentColor"/>
                                <circle cx="42" cy="142" r="2" fill="currentColor"/>
                                <circle cx="62" cy="142" r="2" fill="currentColor"/>
                                <circle cx="82" cy="142" r="2" fill="currentColor"/>
                                <circle cx="102" cy="142" r="2" fill="currentColor"/>
                                <circle cx="122" cy="142" r="2" fill="currentColor"/>
                                <circle cx="142" cy="142" r="2" fill="currentColor"/>
                                <circle cx="162" cy="142" r="2" fill="currentColor"/>
                                <circle cx="182" cy="142" r="2" fill="currentColor"/>
                                <circle cx="2" cy="162" r="2" fill="currentColor"/>
                                <circle cx="22" cy="162" r="2" fill="currentColor"/>
                                <circle cx="42" cy="162" r="2" fill="currentColor"/>
                                <circle cx="62" cy="162" r="2" fill="currentColor"/>
                                <circle cx="82" cy="162" r="2" fill="currentColor"/>
                                <circle cx="102" cy="162" r="2" fill="currentColor"/>
                                <circle cx="122" cy="162" r="2" fill="currentColor"/>
                                <circle cx="142" cy="162" r="2" fill="currentColor"/>
                                <circle cx="162" cy="162" r="2" fill="currentColor"/>
                                <circle cx="182" cy="162" r="2" fill="currentColor"/>
                                <circle cx="2" cy="182" r="2" fill="currentColor"/>
                                <circle cx="22" cy="182" r="2" fill="currentColor"/>
                                <circle cx="42" cy="182" r="2" fill="currentColor"/>
                                <circle cx="62" cy="182" r="2" fill="currentColor"/>
                                <circle cx="82" cy="182" r="2" fill="currentColor"/>
                                <circle cx="102" cy="182" r="2" fill="currentColor"/>
                                <circle cx="122" cy="182" r="2" fill="currentColor"/>
                                <circle cx="142" cy="182" r="2" fill="currentColor"/>
                                <circle cx="162" cy="182" r="2" fill="currentColor"/>
                                <circle cx="182" cy="182" r="2" fill="currentColor"/>
                            </svg>
                        </div>
                    </div>

                    <!-- Card -->
                    <div class="card card-lg rounded-top-left rounded-bottom-right lift lift-lg">
                        <div class="row no-gutters">
                            <div class="col-md-6 bg-cover rounded-top-left my-n2"
                                 style="background-image: url(assets/img/blog/post-side-header-1.png); background-position: center right;">

                                <!-- Image (placeholder) -->
                                <img class="img-fluid invisible" src="assets/img/blog/post-side-header-1.png" alt="...">

                            </div>
                            <div class="col-md-6">

                                <!-- Body -->
                                <div class="card-body">

                                    <!-- Preheading -->
                                    <h6 class="font-family-sans-serif text-primary mb-2">
                                        Первые инвестиции
                                    </h6>

                                    <!-- Heading -->
                                    <h2 class="display-4 mb-4">
                                        “Доверяем решительным”-B8.
                                    </h2>

                                    <!-- Text -->
                                    <p class="mb-4">
                                        Мы выпускники 4 батча самого северного акселератора инновационных проектов. В
                                        рамках интенсивного обучения разработали мобильное приложение - Pocket medic.
                                    </p>

                                    <!-- Footer -->
                                    <div class="d-flex align-items-center">

                                        <!-- Avatar -->
                                        <div class="avatar avatar-xs">
                                            <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-1.jpg"
                                                 alt="...">
                                        </div>

                                        <!-- Body -->
                                        <div class="ml-4 text-left">

                                            <!-- Title -->
                                            <p class="mb-0">
                                                Pocket medic
                                            </p>

                                            <!-- Position -->
                                            <p class="small text-muted mt-n1 mb-0">
                                                15 декабря, 2020
                                            </p>

                                        </div>

                                    </div>

                                    <!-- Link -->
                                    <a class="stretched-link" href="blog-post.html"></a>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- USER EXPERIENCE -->
    <section class="pt-9 pt-md-11">
        <div class="container-lg">
            <div class="row align-items-center mb-6">
                <div class="col-md">

                    <!-- Heading -->
                    <h1 class="mb-0">
                        Наш опыт и достижения
                    </h1>

                    <!-- Text -->
                    <p class="text-gray-600 mb-2 mb-md-0">
                        Реальный опыт и почему мы развиваемся в ИТ-медицине.
                    </p>

                </div>
                <div class="col-md-auto">

                    <!-- Button -->
                    <a class="btn btn-sm btn-primary" href="#!">
                        Смотреть все
                    </a>

                </div>
            </div>
            <div class="row mt-n6">
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-1.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Ранняя диагностика рака - “Онкопоиск”.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Онлайн анкетирование, которое позволяет выявлять рак на ранних стадиях.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">
                                <a href="#" class="card-link">Подробнее</a>
                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-1.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Ранняя диагностика рака - “Онкопоиск”.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Онлайн анкетирование, которое позволяет выявлять рак на ранних стадиях.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">
                                <a href="#" class="card-link">Подробнее</a>
                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-1.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Ранняя диагностика рака - “Онкопоиск”.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Онлайн анкетирование, которое позволяет выявлять рак на ранних стадиях.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">
                                <a href="#" class="card-link">Подробнее</a>
                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- SOLOPRENEURS -->
    <section class="pt-9 pt-md-11">
        <div class="container-lg">
            <div class="row align-items-center mb-6">
                <div class="col-md">

                    <!-- Heading -->
                    <h1 class="mb-0">
                        Решения ООО “Мондино Технолоджес”
                    </h1>

                    <!-- Text -->
                    <p class="text-gray-600 mb-2 md-mb-0">
                        Наша компания создает ИТ-решения для медицины.
                    </p>

                </div>
                <div class="col-md-auto">

                    <!-- Button -->
                    <a class="btn btn-sm btn-primary" href="#!">
                        Смотреть все
                    </a>

                </div>
            </div>
            <div class="row mt-n6">
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-1.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Ранняя диагностика рака - “Онкопоиск”.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Онлайн анкетирование, которое позволяет выявлять рак на ранних стадиях.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">
                                <a href="#" class="card-link">Подробнее</a>
                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-1.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Ранняя диагностика рака - “Онкопоиск”.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Онлайн анкетирование, которое позволяет выявлять рак на ранних стадиях.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">
                                <a href="#" class="card-link">Подробнее</a>
                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-1.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Ранняя диагностика рака - “Онкопоиск”.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Онлайн анкетирование, которое позволяет выявлять рак на ранних стадиях.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">
                                <a href="#" class="card-link">Подробнее</a>
                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- ENGINEERING -->
    <section class="pt-9 pt-md-11 pb-10 pb-md-12">
        <div class="container-lg">
            <div class="row align-items-center mb-6">
                <div class="col-md">

                    <!-- Heading -->
                    <h1 class="mb-0">
                        Полезные статьи про медицину
                    </h1>

                    <!-- Text -->
                    <p class="text-gray-600 mb-2 mb-md-0">
                        Мы подбираем для вас только полезную информацию и контент.
                    </p>

                </div>
                <div class="col-md-auto">

                    <!-- Button -->
                    <a class="btn btn-sm btn-primary" href="#!">
                        Смотреть все
                    </a>

                </div>
            </div>
            <div class="row mt-n6">
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-1.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Ранняя диагностика рака - “Онкопоиск”.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Онлайн анкетирование, которое позволяет выявлять рак на ранних стадиях.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">
                                <a href="#" class="card-link">Подробнее</a>
                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-1.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Ранняя диагностика рака - “Онкопоиск”.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Онлайн анкетирование, которое позволяет выявлять рак на ранних стадиях.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">
                                <a href="#" class="card-link">Подробнее</a>
                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-1.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Ранняя диагностика рака - “Онкопоиск”.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Онлайн анкетирование, которое позволяет выявлять рак на ранних стадиях.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">
                                <a href="#" class="card-link">Подробнее</a>
                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}