{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}Blog Page{% endblock %}

{% block content %}
    <section class="bg-cover py-13 py-md-17" style="background-image:{% image page.post_image width-1000 %} ">

    </section>

    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-fluid-x shape-top text-white">
            <div class="shape-img pb-5">
                <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                    <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                </svg>
            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <section class="py-10 py-md-12">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 text-center">

                    <!-- Preheading -->
                    <h6 class="text-uppercase text-primary mb-5">
                        Блог
                    </h6>

                    <!-- Heading -->
                    <h1 class="display-3 mb-4">
                        “Доверяем решительным”-B8
                    </h1>

                    <!-- Text -->
                    <p class="font-size-lg text-gray-600 mb-9">
                        О том, как наша команда прошла самый северный акселератор инновационных проектов.
                    </p>

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">

                    <!-- Divider -->
                    <hr class="hr-sm border-warning mb-9">

                    <!-- Text -->
                    <p class="mb-9">
В декабре 2020 года из-за сложной эпидемиологической обстановки Demo Day IV потока Акселератора Б8 был проведен в онлайн-формате. В рамках 4 батча акселератора из 53 заявленных проектов в 1-й этап было отобрано 16 команда. Нашей команде удалось пройти отбор во 2-ой этап акселерации. Всего было отобрано 6 команд.
                    </p>

                    <!-- Heading -->
                    <h1 class="mb-4">
                        Первый акселератор для стартапов на Дальнем Востоке России.
                    </h1>

                    <!-- Text -->
                    <p>
                        Всем шести командам-выпускникам подарили фирменный мерч акселератора, а также финансирование от Фонда развития инноваций РС(Я) на 22 тысячи долларов на продвижение проектов.
                    </p>

                    <p>
                        Наша команда получила ценный опыт выступления и фидбэки по проекту от менторов и экспертов. Отдельная благодарность коммьюнити акселератора за оказание колоссальной поддержки и ценным советам за столь короткие сроки.
Стоит отметить, что в первом этапе проводилась интенсивная образовательная программа по методике профессора MIT (Массачусетский технологический университет) Билла Олега «Путеводитель предпринимателя». Благодаря этому наша команда получила бесценные знания, которые мы применяем сейчас и будем использовать в дальнейшем.

                    </p>

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">

                    <!-- Slider -->
                    <div class="flickity-buttons-adjacent flickity-buttons-rounded flickity-buttons-bottom-right mb-9"
                         data-flickity='{"imagesLoaded": true, "pageDots": false, "wrapAround": true}'>
                        <div class="w-100">

                            <!-- Image -->
                            <img class="img-fluid" src="assets/img/blog/slider-1.jpg" alt="...">

                        </div>
                        <div class="w-100">

                            <!-- Image -->
                            <img class="img-fluid" src="assets/img/blog/slider-2.jpg" alt="...">

                        </div>
                        <div class="w-100">

                            <!-- Image -->
                            <img class="img-fluid" src="assets/img/blog/slider-3.jpg" alt="...">

                        </div>
                    </div>

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">

                    <!-- Heading -->
                    <h2 class="mb-4">
                        Встреча с Биллом Олетом
                    </h2>

                    <!-- Text -->
                    <p class="mb-9">
                        В Демо дне с выпускниками и командой акселератора B8 вышел на онлайн-связь Билл Олет. Он является Директором учебного центра Martin Trust Center в MIT, ведущим лектором бизнес-школы MIT Sloan School of Management. До работы в MIT 25 лет занимался бизнесом, создав несколько компаний с рыночной стоимостью в сотни миллионов долларов. Профессор дал советы напутствия выпускникам и с удовольствием лично послушал elevator pitch по каждому проекту.
                    </p>

                    <!-- Divider -->
                    <hr class="hr-sm border-top-3 mb-9">

                    <!-- Blockquote -->
                    <blockquote class="mb-9">
                        <p class="h1 text-primary text-center">
                            “При запуске стартапа самое важное – четкий фокус и цель.”
                        </p>
                    </blockquote>

                    <!-- Divider -->
                    <hr class="hr-sm border-top-3 mb-9">

                    <!-- Text -->
                    <p class="mb-9">
                        Те механизмы, которые практиковали за все три месяца акселератора, мы используем в настоящее время. Мы используем в работе HADI-циклы. Ставим гипотезы на 1-2 недели, заранее оценив объем работы, возможности и ключевые ограничения.  Далее проверяем их в действии, получаем на основе проверки бесценную информацию и анализируем полученные инсайты в конце спринта.
                    </p>

                    <!-- Images -->
                    <div class="row mb-9">
                        <div class="col-6">

                            <!-- Image -->
                            <img class="img-fluid rounded-sm" src="assets/img/blog/grid-thumb-1.jpg" alt="...">

                        </div>
                        <div class="col-6">

                            <!-- Image -->
                            <img class="img-fluid rounded-sm mb-6" src="assets/img/blog/grid-thumb-2.jpg" alt="...">

                            <!-- Image -->
                            <img class="img-fluid rounded-sm" src="assets/img/blog/grid-thumb-3.jpg" alt="...">

                        </div>
                    </div>

                    <!-- Heading -->
                    <h2 class="mb-4">
                        Питчи перед инвесторами
                    </h2>

                    <!-- Text -->
                    <p class="mb-9">
                        На Demo Day всего 6 командам, закончивших ускоренную интенсивную программу развития, удалось представить свои питчинги инвесторам не только российского, но и международного уровня.

                    </p>

                    <!-- Divider -->
                    <hr class="my-9">

                    <!-- Footer -->
                    <footer class="d-flex align-items-center">

                        <!-- Avatar -->
                        <div class="avatar avatar-sm">
                            <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-1.jpg" alt="...">
                        </div>

                        <!-- Body -->
                        <div class="ml-4">

                            <!-- Title -->
                            <h4 class="font-family-sans-serif mb-0">
                                Katie Williams
                            </h4>

                            <!-- Position -->
                            <p class="small text-muted mt-n1 mb-0">
                                Published 2/15/2020
                            </p>

                        </div>

                    </footer>

                </div>
            </div>
        </div>
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-fluid-x shape-top text-dark">
            <div class="shape-img pb-8 pb-md-12">
                <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                    <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                </svg>
            </div>
        </div>
    </div>

    <!-- DECORATION -->
    <div class="position-relative d-none d-md-block">
        <div class="position-absolute top-left text-warning mt-n11 ml-n8">
            <svg width="185" height="186" viewBox="0 0 185 186" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="2" cy="2" r="2" fill="currentColor"/>
                <circle cx="22" cy="2" r="2" fill="currentColor"/>
                <circle cx="42" cy="2" r="2" fill="currentColor"/>
                <circle cx="62" cy="2" r="2" fill="currentColor"/>
                <circle cx="82" cy="2" r="2" fill="currentColor"/>
                <circle cx="102" cy="2" r="2" fill="currentColor"/>
                <circle cx="122" cy="2" r="2" fill="currentColor"/>
                <circle cx="142" cy="2" r="2" fill="currentColor"/>
                <circle cx="162" cy="2" r="2" fill="currentColor"/>
                <circle cx="182" cy="2" r="2" fill="currentColor"/>
                <circle cx="2" cy="22" r="2" fill="currentColor"/>
                <circle cx="22" cy="22" r="2" fill="currentColor"/>
                <circle cx="42" cy="22" r="2" fill="currentColor"/>
                <circle cx="62" cy="22" r="2" fill="currentColor"/>
                <circle cx="82" cy="22" r="2" fill="currentColor"/>
                <circle cx="102" cy="22" r="2" fill="currentColor"/>
                <circle cx="122" cy="22" r="2" fill="currentColor"/>
                <circle cx="142" cy="22" r="2" fill="currentColor"/>
                <circle cx="162" cy="22" r="2" fill="currentColor"/>
                <circle cx="182" cy="22" r="2" fill="currentColor"/>
                <circle cx="2" cy="42" r="2" fill="currentColor"/>
                <circle cx="22" cy="42" r="2" fill="currentColor"/>
                <circle cx="42" cy="42" r="2" fill="currentColor"/>
                <circle cx="62" cy="42" r="2" fill="currentColor"/>
                <circle cx="82" cy="42" r="2" fill="currentColor"/>
                <circle cx="102" cy="42" r="2" fill="currentColor"/>
                <circle cx="122" cy="42" r="2" fill="currentColor"/>
                <circle cx="142" cy="42" r="2" fill="currentColor"/>
                <circle cx="162" cy="42" r="2" fill="currentColor"/>
                <circle cx="182" cy="42" r="2" fill="currentColor"/>
                <circle cx="2" cy="62" r="2" fill="currentColor"/>
                <circle cx="22" cy="62" r="2" fill="currentColor"/>
                <circle cx="42" cy="62" r="2" fill="currentColor"/>
                <circle cx="62" cy="62" r="2" fill="currentColor"/>
                <circle cx="82" cy="62" r="2" fill="currentColor"/>
                <circle cx="102" cy="62" r="2" fill="currentColor"/>
                <circle cx="122" cy="62" r="2" fill="currentColor"/>
                <circle cx="142" cy="62" r="2" fill="currentColor"/>
                <circle cx="162" cy="62" r="2" fill="currentColor"/>
                <circle cx="182" cy="62" r="2" fill="currentColor"/>
                <circle cx="2" cy="82" r="2" fill="currentColor"/>
                <circle cx="22" cy="82" r="2" fill="currentColor"/>
                <circle cx="42" cy="82" r="2" fill="currentColor"/>
                <circle cx="62" cy="82" r="2" fill="currentColor"/>
                <circle cx="82" cy="82" r="2" fill="currentColor"/>
                <circle cx="102" cy="82" r="2" fill="currentColor"/>
                <circle cx="122" cy="82" r="2" fill="currentColor"/>
                <circle cx="142" cy="82" r="2" fill="currentColor"/>
                <circle cx="162" cy="82" r="2" fill="currentColor"/>
                <circle cx="182" cy="82" r="2" fill="currentColor"/>
                <circle cx="2" cy="102" r="2" fill="currentColor"/>
                <circle cx="22" cy="102" r="2" fill="currentColor"/>
                <circle cx="42" cy="102" r="2" fill="currentColor"/>
                <circle cx="62" cy="102" r="2" fill="currentColor"/>
                <circle cx="82" cy="102" r="2" fill="currentColor"/>
                <circle cx="102" cy="102" r="2" fill="currentColor"/>
                <circle cx="122" cy="102" r="2" fill="currentColor"/>
                <circle cx="142" cy="102" r="2" fill="currentColor"/>
                <circle cx="162" cy="102" r="2" fill="currentColor"/>
                <circle cx="182" cy="102" r="2" fill="currentColor"/>
                <circle cx="2" cy="122" r="2" fill="currentColor"/>
                <circle cx="22" cy="122" r="2" fill="currentColor"/>
                <circle cx="42" cy="122" r="2" fill="currentColor"/>
                <circle cx="62" cy="122" r="2" fill="currentColor"/>
                <circle cx="82" cy="122" r="2" fill="currentColor"/>
                <circle cx="102" cy="122" r="2" fill="currentColor"/>
                <circle cx="122" cy="122" r="2" fill="currentColor"/>
                <circle cx="142" cy="122" r="2" fill="currentColor"/>
                <circle cx="162" cy="122" r="2" fill="currentColor"/>
                <circle cx="182" cy="122" r="2" fill="currentColor"/>
                <circle cx="2" cy="142" r="2" fill="currentColor"/>
                <circle cx="22" cy="142" r="2" fill="currentColor"/>
                <circle cx="42" cy="142" r="2" fill="currentColor"/>
                <circle cx="62" cy="142" r="2" fill="currentColor"/>
                <circle cx="82" cy="142" r="2" fill="currentColor"/>
                <circle cx="102" cy="142" r="2" fill="currentColor"/>
                <circle cx="122" cy="142" r="2" fill="currentColor"/>
                <circle cx="142" cy="142" r="2" fill="currentColor"/>
                <circle cx="162" cy="142" r="2" fill="currentColor"/>
                <circle cx="182" cy="142" r="2" fill="currentColor"/>
                <circle cx="2" cy="162" r="2" fill="currentColor"/>
                <circle cx="22" cy="162" r="2" fill="currentColor"/>
                <circle cx="42" cy="162" r="2" fill="currentColor"/>
                <circle cx="62" cy="162" r="2" fill="currentColor"/>
                <circle cx="82" cy="162" r="2" fill="currentColor"/>
                <circle cx="102" cy="162" r="2" fill="currentColor"/>
                <circle cx="122" cy="162" r="2" fill="currentColor"/>
                <circle cx="142" cy="162" r="2" fill="currentColor"/>
                <circle cx="162" cy="162" r="2" fill="currentColor"/>
                <circle cx="182" cy="162" r="2" fill="currentColor"/>
                <circle cx="2" cy="182" r="2" fill="currentColor"/>
                <circle cx="22" cy="182" r="2" fill="currentColor"/>
                <circle cx="42" cy="182" r="2" fill="currentColor"/>
                <circle cx="62" cy="182" r="2" fill="currentColor"/>
                <circle cx="82" cy="182" r="2" fill="currentColor"/>
                <circle cx="102" cy="182" r="2" fill="currentColor"/>
                <circle cx="122" cy="182" r="2" fill="currentColor"/>
                <circle cx="142" cy="182" r="2" fill="currentColor"/>
                <circle cx="162" cy="182" r="2" fill="currentColor"/>
                <circle cx="182" cy="182" r="2" fill="currentColor"/>
            </svg>
        </div>
    </div>

    <!-- DECORATION -->
    <div class="position-relative d-none d-md-block">
        <div class="position-absolute top-right text-primary-dark mt-n15">
            <svg width="129" height="208" viewBox="0 0 129 208" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#decoration5clip0)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M142.812 201.281a6.47 6.47 0 1112.94.002 6.47 6.47 0 01-12.94-.002zm1.618 0a4.851 4.851 0 119.702 0 4.851 4.851 0 01-9.702 0zm4.851-27.018l4.811-4.811 1.144 1.143-4.811 4.811 4.811 4.811-1.144 1.144-4.811-4.811-4.811 4.811-1.143-1.144 4.811-4.811-4.811-4.811 1.143-1.143 4.811 4.811zm-32.343 1.143a6.468 6.468 0 1112.936 0 6.468 6.468 0 01-12.936 0zm1.617 0a4.851 4.851 0 119.702 0 4.851 4.851 0 01-9.702 0zm4.851 24.732l4.811-4.811 1.144 1.143-4.811 4.811 4.811 4.811-1.144 1.144-4.811-4.811-4.811 4.811-1.143-1.144 4.811-4.811-4.811-4.811 1.143-1.143 4.811 4.811z"
                          fill="currentColor"/>
                </g>
                <g clip-path="url(#decoration5clip1)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M142.812 149.281a6.47 6.47 0 1112.94.002 6.47 6.47 0 01-12.94-.002zm1.618 0a4.851 4.851 0 119.702 0 4.851 4.851 0 01-9.702 0zm4.851-27.018l4.811-4.811 1.144 1.143-4.811 4.811 4.811 4.811-1.144 1.144-4.811-4.811-4.811 4.811-1.143-1.144 4.811-4.811-4.811-4.811 1.143-1.143 4.811 4.811zm-32.343 1.143a6.468 6.468 0 1112.936 0 6.468 6.468 0 01-12.936 0zm1.617 0a4.851 4.851 0 119.702 0 4.851 4.851 0 01-9.702 0zm4.851 24.732l4.811-4.811 1.144 1.143-4.811 4.811 4.811 4.811-1.144 1.144-4.811-4.811-4.811 4.811-1.143-1.144 4.811-4.811-4.811-4.811 1.143-1.143 4.811 4.811z"
                          fill="currentColor"/>
                </g>
                <g clip-path="url(#decoration5clip2)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M142.812 97.281a6.47 6.47 0 1112.939.002 6.47 6.47 0 01-12.939-.002zm1.618 0a4.851 4.851 0 119.703 0 4.851 4.851 0 01-9.703 0zm4.851-27.018l4.811-4.811 1.144 1.143-4.811 4.811 4.811 4.811-1.144 1.144-4.811-4.811-4.811 4.81-1.143-1.143 4.811-4.81-4.811-4.812 1.143-1.143 4.811 4.81zm-32.343 1.143a6.469 6.469 0 1112.937 0 6.469 6.469 0 01-12.937 0zm1.617 0a4.851 4.851 0 119.703 0 4.851 4.851 0 01-9.703 0zm4.851 24.732l4.811-4.811 1.144 1.143-4.811 4.811 4.811 4.811-1.144 1.144-4.811-4.811-4.811 4.811-1.143-1.144 4.811-4.81-4.811-4.812 1.143-1.143 4.811 4.81z"
                          fill="currentColor"/>
                </g>
                <g clip-path="url(#decoration5clip3)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M38.813 149.281a6.47 6.47 0 1112.938 0 6.47 6.47 0 01-12.938 0zm1.617 0a4.851 4.851 0 119.702 0 4.851 4.851 0 01-9.702 0zm4.851-27.018l4.811-4.811 1.144 1.143-4.811 4.811 4.81 4.811-1.143 1.144-4.81-4.811-4.812 4.811-1.143-1.144 4.81-4.811-4.81-4.811 1.143-1.143 4.811 4.811zm-32.343 1.143a6.469 6.469 0 1112.937.001 6.469 6.469 0 01-12.938-.001zm1.617 0a4.851 4.851 0 119.702 0 4.851 4.851 0 01-9.702 0zm4.851 24.732l4.811-4.811 1.144 1.143-4.811 4.811 4.81 4.811-1.143 1.144-4.81-4.811-4.812 4.811-1.143-1.144 4.81-4.811-4.81-4.811 1.143-1.143 4.811 4.811z"
                          fill="currentColor"/>
                </g>
                <g clip-path="url(#decoration5clip4)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M38.813 97.281a6.469 6.469 0 1112.937 0 6.469 6.469 0 01-12.938 0zm1.617 0a4.852 4.852 0 119.703 0 4.852 4.852 0 01-9.703 0zm4.851-27.018l4.811-4.811 1.144 1.143-4.811 4.811 4.81 4.811-1.143 1.144-4.81-4.811-4.812 4.81-1.143-1.143 4.81-4.81-4.81-4.812 1.143-1.143 4.811 4.81zm-32.343 1.143a6.469 6.469 0 1112.937 0 6.469 6.469 0 01-12.938 0zm1.617 0a4.852 4.852 0 119.703 0 4.852 4.852 0 01-9.703 0zm4.851 24.732l4.811-4.811 1.144 1.143-4.811 4.811 4.81 4.811-1.143 1.144-4.81-4.811-4.812 4.811-1.143-1.144 4.81-4.81-4.81-4.812 1.143-1.143 4.811 4.81z"
                          fill="currentColor"/>
                </g>
                <g clip-path="url(#decoration5clip5)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M38.813 45.281a6.469 6.469 0 1112.937 0 6.469 6.469 0 01-12.938 0zm1.617 0a4.852 4.852 0 119.703 0 4.852 4.852 0 01-9.703 0zm4.851-27.018l4.811-4.811 1.144 1.143-4.811 4.811 4.81 4.811-1.143 1.144-4.81-4.811-4.812 4.81-1.143-1.143 4.81-4.81-4.81-4.812 1.143-1.143 4.811 4.81zm-32.343 1.143a6.469 6.469 0 1112.937 0 6.469 6.469 0 01-12.938 0zm1.617 0a4.852 4.852 0 119.703 0 4.852 4.852 0 01-9.703 0zm4.851 24.732l4.811-4.811 1.144 1.143-4.811 4.811 4.81 4.811-1.143 1.144-4.81-4.811-4.812 4.81-1.143-1.143 4.81-4.81-4.81-4.812 1.143-1.143 4.811 4.81z"
                          fill="currentColor"/>
                </g>
                <g clip-path="url(#decoration5clip6)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M90.813 175.281a6.47 6.47 0 1112.938 0 6.47 6.47 0 01-12.939 0zm1.617 0a4.851 4.851 0 119.702 0 4.851 4.851 0 01-9.702 0zm4.851-27.018l4.811-4.811 1.144 1.143-4.811 4.811 4.811 4.811-1.144 1.144-4.81-4.811-4.812 4.811-1.143-1.144 4.81-4.811-4.81-4.811 1.143-1.143 4.811 4.811zm-32.344 1.143a6.469 6.469 0 1112.938.001 6.469 6.469 0 01-12.938-.001zm1.618 0a4.851 4.851 0 119.702 0 4.851 4.851 0 01-9.702 0zm4.851 24.732l4.811-4.811 1.144 1.143-4.811 4.811 4.81 4.811-1.143 1.144-4.81-4.811-4.812 4.811-1.143-1.144 4.81-4.811-4.81-4.811 1.143-1.143 4.811 4.811z"
                          fill="currentColor"/>
                </g>
                <g clip-path="url(#decoration5clip7)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M90.813 123.281a6.47 6.47 0 1112.938 0 6.47 6.47 0 01-12.939 0zm1.617 0a4.851 4.851 0 119.702 0 4.851 4.851 0 01-9.702 0zm4.851-27.018l4.811-4.811 1.144 1.143-4.811 4.811 4.811 4.811-1.144 1.144-4.81-4.811-4.812 4.811-1.143-1.144 4.81-4.81-4.81-4.812 1.143-1.143 4.811 4.81zm-32.344 1.143a6.469 6.469 0 1112.938 0 6.469 6.469 0 01-12.938 0zm1.618 0a4.852 4.852 0 119.703 0 4.852 4.852 0 01-9.703 0zm4.851 24.732l4.811-4.811 1.144 1.143-4.811 4.811 4.81 4.811-1.143 1.144-4.81-4.811-4.812 4.811-1.143-1.144 4.81-4.811-4.81-4.811 1.143-1.143 4.811 4.811z"
                          fill="currentColor"/>
                </g>
                <g clip-path="url(#decoration5clip8)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M90.813 71.281a6.469 6.469 0 1112.937 0 6.469 6.469 0 01-12.938 0zm1.617 0a4.852 4.852 0 119.703 0 4.852 4.852 0 01-9.703 0zm4.851-27.018l4.811-4.811 1.144 1.143-4.811 4.811 4.811 4.811-1.144 1.144-4.81-4.811-4.812 4.81-1.143-1.143 4.81-4.81-4.81-4.812 1.143-1.143 4.811 4.81zm-32.344 1.143a6.469 6.469 0 1112.938 0 6.469 6.469 0 01-12.938 0zm1.618 0a4.852 4.852 0 119.703 0 4.852 4.852 0 01-9.703 0zm4.851 24.732l4.811-4.811 1.144 1.143-4.811 4.811 4.81 4.811-1.143 1.144-4.81-4.811-4.812 4.81-1.143-1.143 4.81-4.81-4.81-4.812 1.143-1.143 4.811 4.81z"
                          fill="currentColor"/>
                </g>
                <defs>
                    <clipPath id="decoration4clip0">
                        <path transform="matrix(0 -1 -1 0 155.75 207.75)" fill="#fff" d="M0 0h51.75v51.75H0z"/>
                    </clipPath>
                    <clipPath id="decoration4clip1">
                        <path transform="rotate(-90 155.75 0)" fill="#fff" d="M0 0h51.75v51.75H0z"/>
                    </clipPath>
                    <clipPath id="decoration4clip2">
                        <path transform="matrix(0 -1 -1 0 155.75 103.75)" fill="#fff" d="M0 0h51.75v51.75H0z"/>
                    </clipPath>
                    <clipPath id="decoration4clip3">
                        <path transform="matrix(0 -1 -1 0 51.75 155.75)" fill="#fff" d="M0 0h51.75v51.75H0z"/>
                    </clipPath>
                    <clipPath id="decoration4clip4">
                        <path transform="matrix(0 -1 -1 0 51.75 103.75)" fill="#fff" d="M0 0h51.75v51.75H0z"/>
                    </clipPath>
                    <clipPath id="decoration4clip5">
                        <path transform="matrix(0 -1 -1 0 51.75 51.75)" fill="#fff" d="M0 0h51.75v51.75H0z"/>
                    </clipPath>
                    <clipPath id="decoration4clip6">
                        <path transform="matrix(0 -1 -1 0 103.75 181.75)" fill="#fff" d="M0 0h51.75v51.75H0z"/>
                    </clipPath>
                    <clipPath id="decoration4clip7">
                        <path transform="matrix(0 -1 -1 0 103.75 129.75)" fill="#fff" d="M0 0h51.75v51.75H0z"/>
                    </clipPath>
                    <clipPath id="decoration4clip8">
                        <path transform="matrix(0 -1 -1 0 103.75 77.75)" fill="#fff" d="M0 0h51.75v51.75H0z"/>
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>

    <!-- RELATED -->
    <section class="pt-8 pt-md-9 pb-10 pb-md-12 bg-dark">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 text-center text-white">

                    <!-- Heading -->
                    <h2 class="display-3 mb-4">
                        Другие статьи
                    </h2>

                </div>
            </div>
            <div class="row mt-n6">
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-1.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Build a culture where everyone designs.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">

                                <!-- Avatar -->
                                <div class="avatar avatar-xs">
                                    <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-3.jpg"
                                         alt="...">
                                </div>

                                <!-- Body -->
                                <div class="ml-4 text-left">

                                    <!-- Title -->
                                    <p class="small mb-0">
                                        Danielle Callan
                                    </p>

                                    <!-- Position -->
                                    <p class="small text-muted mt-n1 mb-0">
                                        March 31, 2020
                                    </p>

                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-2.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Detach your worth from your work.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">

                                <!-- Avatar -->
                                <div class="avatar avatar-xs">
                                    <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-5.jpg"
                                         alt="...">
                                </div>

                                <!-- Body -->
                                <div class="ml-4 text-left">

                                    <!-- Title -->
                                    <p class="small mb-0">
                                        Brooke Baker
                                    </p>

                                    <!-- Position -->
                                    <p class="small text-muted mt-n1 mb-0">
                                        April 19, 2020
                                    </p>

                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="assets/img/blog/post-header-3.jpg" alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Designers can learn from interior design.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">

                                <!-- Avatar -->
                                <div class="avatar avatar-xs">
                                    <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-4.jpg"
                                         alt="...">
                                </div>

                                <!-- Body -->
                                <div class="ml-4 text-left">

                                    <!-- Title -->
                                    <p class="small mb-0">
                                        Catherine Westerly
                                    </p>

                                    <!-- Position -->
                                    <p class="small text-muted mt-n1 mb-0">
                                        May 01, 2020
                                    </p>

                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html"></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- CTA -->
    <section class="bg-dark">
        <div class="container-lg">
            <div class="row align-items-center">
                <div class="col-12">

                    <!-- Divider -->
                    <hr class="border-gray-900 mt-0 mb-8">

                </div>
                <div class="col-md">

                    <!-- Heading -->
                    <h1 class="text-white mb-0">
                        Напишите насчет <span class="text-warning">сотрудничества</span>
                    </h1>

                    <!-- Text -->
                    <p class="text-white-60 mb-4 mb-md-0">
                        Мы будем рады сотрудничеству с Вами.
                    </p>

                </div>
                <div class="col-md-4">

                    <!-- Form -->
                    <form>
                        <input class="form-control" type="email" placeholder="Email адрес">
                    </form>

                </div>
                <div class="col-12">

                    <!-- Divider -->
                    <hr class="border-gray-900 mb-0 mt-8">

                </div>
            </div>
        </div>
    </section>
{% endblock %}