<section class="pt-9 pt-md-11 card__body">
    <div class="container-lg">
        <div class="row align-items-center mb-6">
            <div class="col-md">

                <!-- Heading -->
                <h1 class="blog__experience-title">
                    {{ theme.name }}
                </h1>

                <!-- Text -->
                <p class="blog__experience-subtitle">
                    {{ theme.description }}
                </p>

            </div>
            <div class="col-md-auto">

                <!-- Button -->
                {% if theme.posts.all|length > 3 %}
                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ theme.slug }}"
                       role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        Посмотреть все
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row mt-n6">
            {% for post in theme.posts.all|slice:":3" %}
                {% with post as post %}
                    {% include 'blog/components/blog_section_card.html' %}
                {% endwith %}
            {% endfor %}
        </div>
        <div class="row mt-n6 collapse pt-6" id="{{ theme.slug }}">
            {% for post in theme.posts.all|slice:"3:" %}
                {% with post as post %}
                    {% include 'blog/components/blog_section_card.html' %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</section>
