{% load i18n %}
<!-- POSTS -->
<section class="blog__first">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-4 custom-card">

                <!-- Card -->
                <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg">

                    <!-- Image -->
                    <img class="card-img-top rounded-top-left"
                        src="../../static/assets/img/medic/TitovM.png" alt="TitovMihail">

                    <!-- Body -->
                    <div class="card-body">

                        <!-- Heading -->
                        <h2 class="mb-2 card-title">
                            {% trans "Founder & Президент - Титов Михаил" %}
                        </h2>

                        <!-- Text -->
                        <p class="font-size-sm mb-4 card-text">
                            {% trans "«Пока человек чувствует боль - он жив. Пока человек чувствует чужую боль - он человек»." %}
                        </p>

                        <!-- Footer -->
                        <div class="d-flex align-items-center">

                            <!-- Avatar -->
                            <div class="card-author-avatar">
                                <img class="avatar-img rounded-circle"
                                    src="../../static/assets/img/medic/TitovMRounded.png" alt="avatar">
                            </div>

                            <!-- Body -->
                            <div class="ml-4 text-left card-author-content">

                                <!-- Title -->
                                <p class="small mb-0 card-author-title">
                                    {% trans "Михаил Титов" %}
                                </p>

                                <!-- Position -->
                                <p class="small text-muted mt-n1 mb-0 card-author-text">
                                    {% trans "Предприниматель" %}
                                </p>

                            </div>

                        </div>

                        <!-- Link -->
                        <a class="stretched-link" href="#"></a>

                    </div>
                </div>

            </div>
            <div class="col-md-4 custom-card">

                <!-- Card -->
                <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg">

                    <!-- Image -->
                    <img class="card-img-top rounded-top-left" src="../../static/assets/img/medic/55.png"
                        alt="TitovMihail">

                    <!-- Body -->
                    <div class="card-body">

                        <!-- Heading -->
                        <h2 class="mb-2 card-title">
                            {% trans "Dream team теперь в НЦМ РБ-1." %}
                        </h2>

                        <!-- Text -->
                        <p class="font-size-sm mb-4 card-text">
                            {% trans "Наша команда работает с врачами и фармакологами в Национальном центре медицины Республики Саха (Якутия)." %}
                        </p>

                        <!-- Footer -->
                        <div class="d-flex align-items-center card-author-content card-author-content">
                            <div class="ml-4 text-left card-author-content">

                                <!-- Title -->
                                <p class="small mb-0 card-author-title" style="color: #8D9AAE">
                                    {% trans "ООО “Мондино Технолоджес”" %}
                                </p>

                                <!-- Position -->


                            </div>

                        </div>

                        <!-- Link -->
                        <a class="stretched-link" href="#"></a>

                    </div>
                </div>

            </div>
            <div class="col-md-4 custom-card">

                <!-- Card -->
                <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg">

                    <!-- Image -->
                    <img class="card-img-top rounded-top-left" src="../../static/assets/img/medic/56.png"
                        alt="TitovMihail">

                    <!-- Body -->
                    <div class="card-body">

                        <!-- Heading -->
                        <h2 class="mb-2 card-title">
                            {% trans "Demo Day Акселератора B8." %}
                        </h2>

                        <!-- Text -->
                        <p class="font-size-sm mb-4 card-text">
                            {% trans "Мы прошли самую северную интенсивную акселерацию за 3 месяца." %}
                        </p>
                        <a class="stretched-link" href="#"></a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>