<!-- POSTS -->
    <section class="pt-10 pt-md-12">
        <div class="container-lg">
            <div class="row mt-n6">
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" height="230px" src="../../static/assets/img/medic/TitovM.png" alt="TitovMihail">

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Founder & Президент - Титов Михаил
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                "Пока челов чувствует боль - он жив. Пока человек чувствует чужую боль - он человек".
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">

                                <!-- Avatar -->
                                <div class="avatar avatar-xs">
                                    <img class="avatar-img rounded-circle" src="../../static/assets/img/medic/TitovMRounded.png" alt="avatar">
                                </div>

                                <!-- Body -->
                                <div class="ml-4 text-left">

                                    <!-- Title -->
                                    <p class="small mb-0">
                                        Михаил Титов
                                    </p>

                                    <!-- Position -->
                                    <p class="small text-muted mt-n1 mb-0">
                                        Предприниматель
                                    </p>

                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="#"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" height="230px" src="../../static/assets/img/medic/TitovM.png" alt="TitovMihail">

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Founder & Президент - Титов Михаил
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                "Пока челов чувствует боль - он жив. Пока человек чувствует чужую боль - он человек".
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">

                                <!-- Avatar -->
                                <div class="avatar avatar-xs">
                                    <img class="avatar-img rounded-circle" src="../../static/assets/img/medic/TitovMRounded.png" alt="avatar">
                                </div>

                                <!-- Body -->
                                <div class="ml-4 text-left">

                                    <!-- Title -->
                                    <p class="small mb-0">
                                        Михаил Титов
                                    </p>

                                    <!-- Position -->
                                    <p class="small text-muted mt-n1 mb-0">
                                        Предприниматель
                                    </p>

                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="#"></a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" height="230px" src="../../static/assets/img/medic/TitovM.png" alt="TitovMihail">

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Founder & Президент - Титов Михаил
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                "Пока челов чувствует боль - он жив. Пока человек чувствует чужую боль - он человек".
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">

                                <!-- Avatar -->
                                <div class="avatar avatar-xs">
                                    <img class="avatar-img rounded-circle" src="../../static/assets/img/medic/TitovMRounded.png" alt="avatar">
                                </div>

                                <!-- Body -->
                                <div class="ml-4 text-left">

                                    <!-- Title -->
                                    <p class="small mb-0">
                                        Михаил Титов
                                    </p>

                                    <!-- Position -->
                                    <p class="small text-muted mt-n1 mb-0">
                                        Предприниматель
                                    </p>

                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="#"></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>