<section class="pt-9 pt-md-11">
    <div class="container-lg">
        <div class="row align-items-center mb-6">
            <div class="col-md">

                <!-- Heading -->
                <h1 class="mb-0">
                    {{ theme.name }}
                </h1>

                <!-- Text -->
                <p class="text-gray-600 mb-2 md-mb-0">
                    {{ theme.description }}
                </p>

            </div>
            <div class="col-md-auto">

                <!-- Button -->
                <a class="btn btn-sm btn-primary" href="#!">
                    Смотреть все
                </a>

            </div>
        </div>
        <div class="row mt-n6">
            {% for post in theme.posts.all|slice:":3" %}
                {% with post as post %}
                    {% include 'blog/components/blog_section_card.html' %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</section>