<!-- GUIDEBOOK -->
{% load wagtailcore_tags wagtailimages_tags %}
<section class="pt-9 pt-md-11">
    <div class="container-lg">
        <div class="row">
            <div class="col-12">

                <!-- Heading -->
                <h1 class="mb-0">
                    Актуальное. Последние события
                </h1>

                <!-- Text -->
                <p class="text-gray-600">
                    Главное событие прошедшего 2020 года
                </p>

                <!-- DECORATION -->
                <div class="position-relative">
                    <div class="position-absolute top-right text-warning mt-n11 mr-n7">
                        <svg width="185" height="186" viewBox="0 0 185 186" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle cx="2" cy="2" r="2" fill="currentColor"/>
                            <circle cx="22" cy="2" r="2" fill="currentColor"/>
                            <circle cx="42" cy="2" r="2" fill="currentColor"/>
                            <circle cx="62" cy="2" r="2" fill="currentColor"/>
                            <circle cx="82" cy="2" r="2" fill="currentColor"/>
                            <circle cx="102" cy="2" r="2" fill="currentColor"/>
                            <circle cx="122" cy="2" r="2" fill="currentColor"/>
                            <circle cx="142" cy="2" r="2" fill="currentColor"/>
                            <circle cx="162" cy="2" r="2" fill="currentColor"/>
                            <circle cx="182" cy="2" r="2" fill="currentColor"/>
                            <circle cx="2" cy="22" r="2" fill="currentColor"/>
                            <circle cx="22" cy="22" r="2" fill="currentColor"/>
                            <circle cx="42" cy="22" r="2" fill="currentColor"/>
                            <circle cx="62" cy="22" r="2" fill="currentColor"/>
                            <circle cx="82" cy="22" r="2" fill="currentColor"/>
                            <circle cx="102" cy="22" r="2" fill="currentColor"/>
                            <circle cx="122" cy="22" r="2" fill="currentColor"/>
                            <circle cx="142" cy="22" r="2" fill="currentColor"/>
                            <circle cx="162" cy="22" r="2" fill="currentColor"/>
                            <circle cx="182" cy="22" r="2" fill="currentColor"/>
                            <circle cx="2" cy="42" r="2" fill="currentColor"/>
                            <circle cx="22" cy="42" r="2" fill="currentColor"/>
                            <circle cx="42" cy="42" r="2" fill="currentColor"/>
                            <circle cx="62" cy="42" r="2" fill="currentColor"/>
                            <circle cx="82" cy="42" r="2" fill="currentColor"/>
                            <circle cx="102" cy="42" r="2" fill="currentColor"/>
                            <circle cx="122" cy="42" r="2" fill="currentColor"/>
                            <circle cx="142" cy="42" r="2" fill="currentColor"/>
                            <circle cx="162" cy="42" r="2" fill="currentColor"/>
                            <circle cx="182" cy="42" r="2" fill="currentColor"/>
                            <circle cx="2" cy="62" r="2" fill="currentColor"/>
                            <circle cx="22" cy="62" r="2" fill="currentColor"/>
                            <circle cx="42" cy="62" r="2" fill="currentColor"/>
                            <circle cx="62" cy="62" r="2" fill="currentColor"/>
                            <circle cx="82" cy="62" r="2" fill="currentColor"/>
                            <circle cx="102" cy="62" r="2" fill="currentColor"/>
                            <circle cx="122" cy="62" r="2" fill="currentColor"/>
                            <circle cx="142" cy="62" r="2" fill="currentColor"/>
                            <circle cx="162" cy="62" r="2" fill="currentColor"/>
                            <circle cx="182" cy="62" r="2" fill="currentColor"/>
                            <circle cx="2" cy="82" r="2" fill="currentColor"/>
                            <circle cx="22" cy="82" r="2" fill="currentColor"/>
                            <circle cx="42" cy="82" r="2" fill="currentColor"/>
                            <circle cx="62" cy="82" r="2" fill="currentColor"/>
                            <circle cx="82" cy="82" r="2" fill="currentColor"/>
                            <circle cx="102" cy="82" r="2" fill="currentColor"/>
                            <circle cx="122" cy="82" r="2" fill="currentColor"/>
                            <circle cx="142" cy="82" r="2" fill="currentColor"/>
                            <circle cx="162" cy="82" r="2" fill="currentColor"/>
                            <circle cx="182" cy="82" r="2" fill="currentColor"/>
                            <circle cx="2" cy="102" r="2" fill="currentColor"/>
                            <circle cx="22" cy="102" r="2" fill="currentColor"/>
                            <circle cx="42" cy="102" r="2" fill="currentColor"/>
                            <circle cx="62" cy="102" r="2" fill="currentColor"/>
                            <circle cx="82" cy="102" r="2" fill="currentColor"/>
                            <circle cx="102" cy="102" r="2" fill="currentColor"/>
                            <circle cx="122" cy="102" r="2" fill="currentColor"/>
                            <circle cx="142" cy="102" r="2" fill="currentColor"/>
                            <circle cx="162" cy="102" r="2" fill="currentColor"/>
                            <circle cx="182" cy="102" r="2" fill="currentColor"/>
                            <circle cx="2" cy="122" r="2" fill="currentColor"/>
                            <circle cx="22" cy="122" r="2" fill="currentColor"/>
                            <circle cx="42" cy="122" r="2" fill="currentColor"/>
                            <circle cx="62" cy="122" r="2" fill="currentColor"/>
                            <circle cx="82" cy="122" r="2" fill="currentColor"/>
                            <circle cx="102" cy="122" r="2" fill="currentColor"/>
                            <circle cx="122" cy="122" r="2" fill="currentColor"/>
                            <circle cx="142" cy="122" r="2" fill="currentColor"/>
                            <circle cx="162" cy="122" r="2" fill="currentColor"/>
                            <circle cx="182" cy="122" r="2" fill="currentColor"/>
                            <circle cx="2" cy="142" r="2" fill="currentColor"/>
                            <circle cx="22" cy="142" r="2" fill="currentColor"/>
                            <circle cx="42" cy="142" r="2" fill="currentColor"/>
                            <circle cx="62" cy="142" r="2" fill="currentColor"/>
                            <circle cx="82" cy="142" r="2" fill="currentColor"/>
                            <circle cx="102" cy="142" r="2" fill="currentColor"/>
                            <circle cx="122" cy="142" r="2" fill="currentColor"/>
                            <circle cx="142" cy="142" r="2" fill="currentColor"/>
                            <circle cx="162" cy="142" r="2" fill="currentColor"/>
                            <circle cx="182" cy="142" r="2" fill="currentColor"/>
                            <circle cx="2" cy="162" r="2" fill="currentColor"/>
                            <circle cx="22" cy="162" r="2" fill="currentColor"/>
                            <circle cx="42" cy="162" r="2" fill="currentColor"/>
                            <circle cx="62" cy="162" r="2" fill="currentColor"/>
                            <circle cx="82" cy="162" r="2" fill="currentColor"/>
                            <circle cx="102" cy="162" r="2" fill="currentColor"/>
                            <circle cx="122" cy="162" r="2" fill="currentColor"/>
                            <circle cx="142" cy="162" r="2" fill="currentColor"/>
                            <circle cx="162" cy="162" r="2" fill="currentColor"/>
                            <circle cx="182" cy="162" r="2" fill="currentColor"/>
                            <circle cx="2" cy="182" r="2" fill="currentColor"/>
                            <circle cx="22" cy="182" r="2" fill="currentColor"/>
                            <circle cx="42" cy="182" r="2" fill="currentColor"/>
                            <circle cx="62" cy="182" r="2" fill="currentColor"/>
                            <circle cx="82" cy="182" r="2" fill="currentColor"/>
                            <circle cx="102" cy="182" r="2" fill="currentColor"/>
                            <circle cx="122" cy="182" r="2" fill="currentColor"/>
                            <circle cx="142" cy="182" r="2" fill="currentColor"/>
                            <circle cx="162" cy="182" r="2" fill="currentColor"/>
                            <circle cx="182" cy="182" r="2" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                    {{ themes }}
                <!-- Card -->
                <div class="card card-lg rounded-top-left rounded-bottom-right lift lift-lg">
                    <div class="row no-gutters">
                        <div class="col-md-6 bg-cover rounded-top-left my-n2"
                             style="background-image: url(assets/img/blog/post-side-header-1.png); background-position: center right;">

                            <!-- Image (placeholder) -->
                            {% image themes.post.post_image fill-350x250 class="img-fluid invisible" %}
                            {#                            <img class="img-fluid invisible" src="assets/img/blog/post-side-header-1.png" alt="...">#}

                        </div>
                        <div class="col-md-6">

                            <!-- Body -->
                            <div class="card-body">

                                <!-- Preheading -->
                                <h6 class="font-family-sans-serif text-primary mb-2">
                                    Первые инвестиции
                                </h6>

                                <!-- Heading -->
                                <h2 class="display-4 mb-4">
                                    “Доверяем решительным”-B8.
                                </h2>

                                <!-- Text -->
                                <p class="mb-4">
                                    Мы выпускники 4 батча самого северного акселератора инновационных проектов. В
                                    рамках интенсивного обучения разработали мобильное приложение - Pocket medic.
                                </p>

                                <!-- Footer -->
                                <div class="d-flex align-items-center">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-xs">
                                        <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-1.jpg"
                                             alt="...">
                                    </div>

                                    <!-- Body -->
                                    <div class="ml-4 text-left">

                                        <!-- Title -->
                                        <p class="mb-0">
                                            Pocket medic
                                        </p>

                                        <!-- Position -->
                                        <p class="small text-muted mt-n1 mb-0">
                                            15 декабря, 2020
                                        </p>

                                    </div>

                                </div>

                                <!-- Link -->
                                <a class="stretched-link" href="blog-post.html"></a>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>