.generalBlock {
    background: url("generalBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.generalBlock-container{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeHeader {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #0D99FF;
}

.homeSubheader {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #0D99FF;
}

.blockContent {
    max-width: 650px;
}

.projects_links-block{
    margin: 12px 0;
}

.projectsRow {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.linkToProject {
    margin: 12px 0;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: #13204F;
    opacity: 0.8;
}
.linkToProject span {
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    z-index: 3;
    position: absolute;
}
.buttonBlur {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #13204F;
    opacity: 0.8;
    backdrop-filter: blur(12px);
}
.linkToProject img {
    position: absolute;
    z-index: 1;
}

.appLinks {
    position: relative;
    background: url("appLinkBackground.png") center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.appLinks::after{
    position: absolute;
    bottom: -31px;
    left: 0;
    transform: translate(-50%, 0);
    content: '';
    display: block;
    width: 523px;
    height: 32px;
    background: url("../../img/team/company_bg_2_1.svg");
    transform: rotate(180deg);
}

.appRow{
    margin-right: 0;
    align-self: center;
}

.linksContent {
    max-width: 580px;
}

.linksHeader {
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    text-shadow: 0px 0px 12px #0D99FF;
}

.headerBorder-light {
    width: 300px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);

    margin-bottom: 24px;
}

.headerBorder-dark {
    width: 300px;
    height: 2px;
    background-color: #13204F;

    margin-bottom: 24px;
}

.linksSubheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.linksButtons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.vivat .linksButtons,
.female .linksButtons,
.onco .linksButtons{
    justify-content: end;
}

.linksButtons button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;

    padding: 8px 24px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px 0px;
    border: none;

    color: #FFFFFF;
}

#linksLearn {
    background: #0D99FF;
    margin-right: 24px;
}
#linksPrivacy {
    background: #6658EA;
}

.linksDownload p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    margin-bottom: 24px;

    color: #FFFFFF;
}

.linksImages {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#mondinoIcon {
    margin-bottom: 60px;
}

.vivat {
    background: url("vivat_bg.png") bottom left;
    background-repeat: no-repeat;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vivatContent {
    display: flex;
    justify-content: end;
}

.vivatContent img{
    max-width: 600px;
}

.vivatContent .blockContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.linksHeader-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    text-align: right;
    letter-spacing: 0.03em;
    color: #13204F;
}

.linksSubheader-2 {
    text-align: right;
}

.screening {
    display: flex;
    align-items: center;
    background: #13204F;
    padding: 80px 0;
    margin: 32px 0;
    position: relative;
    width: 100%;
}

.screening::before{
    position: absolute;
    top: -31px;
    right: 0;
    z-index: -1;
    content: '';
    display: block;
    width: 618px;
    height: 32px;
    background: url("../../img/team/company_bg_2_1.svg");
}

.screening::after{
    position: absolute;
    bottom: -31px;
    left: 50%;
    transform: translate(-50%, 0);
    content: '';
    display: block;
    width: 523px;
    height: 32px;
    background: url("../../img/home/Rectangle41.svg");
}

.screeningRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.female {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.femaleContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.femaleContent .blockContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.femaleHeader, .femaleSubheader {
    text-align: right;
}

.notalone {
    display: flex;
    align-items: center;
    background: #13204F;
    padding: 80px 0;
    margin: 32px 0;
    position: relative;
}

.notalone::before{
    position: absolute;
    top: -31px;
    right: 0;
    z-index: -1;
    content: '';
    display: block;
    width: 618px;
    height: 32px;
    background: url("../../img/team/company_bg_2_1.svg");
}

.notalone::after{
    position: absolute;
    bottom: -31px;
    left: 0;
    content: '';
    display: block;
    width: 618px;
    height: 32px;
    background: url("../../img/team/company_bg_2_2.svg");
}

.notaloneRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.onco {
    display: flex;
    justify-content: center;
    align-items: center;
}

.oncoContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.oncoContent .blockContent{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pageWrapper img{
    object-fit: contain;
}

@media (max-width: 1024px){
    .generalBlock-container{
        margin-left: 50px;
    }
    .generalBackground_img img{
        max-height: 300px;
    }
    .homeHeader{
        font-size: 40px;
    }
    .homeSubheader{
        font-size: 14px;
    }
    .linkToProject{
        width: 250px;
        height: 62.5px;
    }
    .linkToProject img{
        width: 250px;
        height: 62.5px;
    }
    .appRow{
        margin-left: 50px;
    }
    .linksHeader,
    .linksHeader-2{
        font-size: 32px;
    }
    .linksSubheader,
    .linksSubheader-2{
        font-size: 12px;
        margin-bottom: 12px;
    }
    .linksButtons{
        margin-bottom: 8px;
    }
    .linksButtons button{
        padding: 6px 16px;
        font-size: 12px;
        margin-right: 18px;
        margin-bottom: 6px;
    }
    .linksDownload p{
        font-size: 12px;
        margin-bottom: 12px;
    }
    #mondinoIcon{
        max-width: 150px;
    }
    #linksHand{
        max-width: 320px;
    }
    .linksStore img{
        max-width: 76px;
    }
    .linksContent,
    .blockContent{
        max-width: 410px;
    }
    .vivat{
        padding: 50px 0;
        background: none;
    }
    .vivatContent{
        margin: 0 50px;
    }
    .vivatContent img{
        max-width: 300px;
    }
    .screening{
        padding: 50px 0;
    }
    .screeningRow{
        margin: 0 50px;
    }
    .screeningRow img{
        max-width: 400px;
    }
    .female{
        padding: 50px 0;
    }
    .femaleContent{
        margin: 0 50px;
    }
    .femaleContent img{
        max-width: 400px;
    }
    .notalone{
        padding: 50px 0;
    }
    .notaloneRow{
        margin: 0 50px;
    }
    .notaloneRow img{
        max-width: 400px;
    }
    .onco{
        padding: 50px 0;
    }
    .oncoContent{
        margin: 0 50px;
    }
    .oncoContent img{
        max-width: 400px;
    }
}

@media (max-width: 576px){
    .generalBlock-container{
        margin-left: 18px;
    }
    .generalBackground_img img{
        max-width: 161px;
    }
    .homeHeader{
        font-size: 20px;
    }
    .homeSubheader{
        font-size: 10px;
    }
    .projects{
        margin: 0 18px;
    }
    .linkToProject{
        width: 150px;
        height: 37px;
    }
    .linkToProject img{
        width: 150px;
        height: 37px;
    }
    .linkToProject span{
        font-size: 7.47px;
    }
    .appRow{
        margin-left: 18px;
    }
    .linksHeader,
    .linksHeader-2{
        font-size: 14px;
    }
    .linksSubheader,
    .linksSubheader-2{
        font-size: 10px;
        margin-bottom: 12px;
    }
    .linksButtons{
        margin-bottom: 8px;
    }
    .linksButtons button{
        padding: 6px 16px;
        font-size: 12px;
        margin-right: 18px;
        margin-bottom: 6px;
    }
    .linksDownload p{
        font-size: 12px;
        margin-bottom: 12px;
    }
    #mondinoIcon{
        max-width: 150px;
    }
    #linksHand{
        max-width: 320px;
    }
    .linksStore img{
        max-width: 76px;
    }
    .linksContent,
    .blockContent{
        max-width: 410px;
    }
    .vivat{
        padding: 50px 0;
        background: none;
    }
    .vivatContent{
        margin: 0 50px;
    }
    .vivatContent img{
        max-width: 300px;
    }
    .screening{
        padding: 50px 0;
    }
    .screeningRow{
        margin: 0 50px;
    }
    .screeningRow img{
        max-width: 400px;
    }
    .female{
        padding: 50px 0;
    }
    .femaleContent{
        margin: 0 50px;
    }
    .femaleContent img{
        max-width: 400px;
    }
    .notalone{
        padding: 50px 0;
    }
    .notaloneRow{
        margin: 0 50px;
    }
    .notaloneRow img{
        max-width: 400px;
    }
    .onco{
        padding: 50px 0;
    }
    .oncoContent{
        margin: 0 50px;
    }
    .oncoContent img{
        max-width: 400px;
    }
}