.generalBlock {
    background: url("generalBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.generalBlock-container{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeHeader {
    font-size: 52px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #0D99FF;
}

.homeSubheader {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #0D99FF;
}

.blockContent {
    width: 650px;
}

.projects_links-block{
    margin: 12px 0;
}

.projectsRow {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.linkToProject {
    margin: 12px 0;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: #13204F;
    opacity: 0.8;
}
.linkToProject span {
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    z-index: 3;
    position: absolute;
}
.buttonBlur {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #13204F;
    opacity: 0.8;
    backdrop-filter: blur(12px);
}
.linkToProject img {
    position: absolute;
    z-index: 1;
}

.appLinks {
    background: url("appLinkBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.appRow{
    margin-right: 0;
    align-self: center;
}

.linksContent {
    width: 580px;
}

.linksHeader {
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    text-shadow: 0px 0px 12px #0D99FF;
}

.headerBorder-light {
    width: 300px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);

    margin-bottom: 24px;
}

.headerBorder-dark {
    width: 300px;
    height: 2px;
    background-color: #13204F;

    margin-bottom: 24px;
}

.linksSubheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.linksButtons {
    margin-bottom: 24px;
}

.linksButtons button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;

    padding: 8px 24px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px 0px;

    color: #FFFFFF;
}

#linksLearn {
    background: #0D99FF;
    margin-right: 24px;
}
#linksPrivacy {
    background: #6658EA;
}

.linksDownload p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    margin-bottom: 24px;

    color: #FFFFFF;
}

.linksImages {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#mondinoIcon {
    margin-bottom: 60px;
}

.vivat {
    background: url("vivatBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vivatContent {
    display: flex;
    justify-content: end;
}

.vivatContent .blockContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.vivatHeader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    text-align: right;
    letter-spacing: 0.03em;
    color: #13204F;
}

.vivatSubheader {
    text-align: right;
}

.screening {
    display: flex;
    align-items: center;
    background: #13204F;
    height: 550px;
    margin: 32px 0;
    position: relative;
    width: 100%;
}

.screening::before{
    position: absolute;
    top: -31px;
    right: 0;
    z-index: -1;
    content: '';
    display: block;
    width: 618px;
    height: 32px;
    background: url("../../img/team/company_bg_2_1.svg");
}

.screening::after{
    position: absolute;
    bottom: -31px;
    left: 50%;
    transform: translate(-50%, 0);
    content: '';
    display: block;
    width: 523px;
    height: 32px;
    background: url("../../img/home/Rectangle41.svg");
}

.screeningRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.female {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.femaleContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.femaleContent .blockContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.femaleHeader, .femaleSubheader {
    text-align: right;
}

.notalone {
    display: flex;
    align-items: center;
    background: #13204F;
    height: 550px;
    margin: 32px 0;
    position: relative;
}

.notalone::before{
    position: absolute;
    top: -31px;
    right: 0;
    z-index: -1;
    content: '';
    display: block;
    width: 618px;
    height: 32px;
    background: url("../../img/team/company_bg_2_1.svg");
}

.notalone::after{
    position: absolute;
    bottom: -31px;
    left: 0;
    content: '';
    display: block;
    width: 618px;
    height: 32px;
    background: url("../../img/team/company_bg_2_2.svg");
}

.notaloneRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.onco {
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oncoContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
}