@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background: #f6f6f6;
    line-height: normal;
}
h1 {
    font-family: sans-serif;
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
}
.pageWrapper {
    margin: 0 100px;
}

.btn-link {
    color: #1b1642!important;
}

.langTab {
    cursor: pointer;
}

.actLang {
    color: #6658ea;
}

@media (max-width: 991.8px) {
    .logoCollapse {
        display: none;
    }
    .dropdown-li {
        display: flex;
        flex-direction: column;
    }
    .dropdown-menu {
        padding: 0!important;
        margin: 0!important;
        border: none!important;
        box-shadow: none!important;
    }
    .dropdown-menu button {
        text-align: center;
    }
}

/* @media (min-width: 1440px){
    .pageWrapper{
        max-width: 1440px;
    }
} */