@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background: #f6f6f6;
    line-height: normal;
}
h1 {
    font-family: sans-serif;
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
}
footer {
    background-image: url("../img/footer/back.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.pageWrapper {
    margin: 0 100px;
}

.nav-link:hover, .btn-link:hover {
    color: #6658ea!important;
}

.btn-link {
    color: #1b1642!important;
    font-weight: 400!important;
    font-family: "DM Sans", sans-serif!important;
}

.langTab {
    cursor: pointer;
    color: #000;
}

.actLink {
    color: #6658ea!important;
}

@media (max-width: 991.8px) {
    .logoCollapse {
        display: none;
    }
    .dropdown-li {
        display: flex;
        flex-direction: column;
    }
    .dropdown-menu {
        padding: 0!important;
        margin: 0!important;
        border: none!important;
        box-shadow: none!important;
    }
    .dropdown-menu button {
        text-align: center;
    }
    .dropdown-item, .btn-link {
        text-align: right!important;
    }
    #navbar-nav {
        align-items: flex-end!important;
    }
    .btn-link {
        padding: 0.5rem 0!important;
    }

}

/* @media (min-width: 1440px){
    .pageWrapper{
        max-width: 1440px;
    }
} */

@media (max-width: 1024px) {
    footer, footer h6 {
        font-size: 13px!important;
    }
}

@media (max-width: 576px) {
    footer, footer h6 {
        font-size: 8px!important;
    }
}