{% extends  "base.html" %}

{% load  wagtailcore_tags %}

{% block  body_class %} template-homepage {% endblock %}

{% block  content %}
    <!-- WELCOME -->
    <section class="pt-6 pt-md-11">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 text-center">

                    <!-- Preheading -->
                    <h6 class="text-uppercase text-primary mb-5">
                        наша миссия
                    </h6>

                    <!-- Heading -->
                    <h2 class="display-3 mb-10">
                        Сделаем ваш менеджмент лекарств эффективнее.
                    </h2>

                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md text-center border-right mb-6 mb-md-0">

                    <!-- Heading -->
                    <h2 class="display-4">
                        4
                    </h2>

                    <!-- Text -->
                    <p class="mb-0 text-muted">
                        Мед. проекта
                    </p>

                </div>
                <div class="col-6 col-md text-center border-right-md mb-6 mb-md-0">

                    <!-- Heading -->
                    <h2 class="display-4">
                        2020
                    </h2>

                    <!-- Text -->
                    <p class="mb-0 text-muted">
                        Начало
                    </p>

                </div>
                <div class="col-6 col-md text-center border-right">

                    <!-- Heading -->
                    <h2 class="display-4">
                        60,000$
                    </h2>

                    <!-- Text -->
                    <p class="mb-0 text-muted">
                        Инвестиций
                    </p>

                </div>
                <div class="col-6 col-md text-center">

                    <!-- Heading -->
                    <h2 class="display-4">
                        12
                    </h2>

                    <!-- Text -->
                    <p class="mb-0 text-muted">
                        человек в команде
                    </p>

                </div>
            </div>
        </div>
    </section>

    <!-- SLIDER -->
    <section class="position-relative pt-10 pt-md-12" style="z-index: 1;">
        <div class="container-lg">
            <div class="row">
                <div class="col-12">

                    <!-- Decoration -->
                    <div class="position-absolute bottom-right text-warning mb-n8 mr-n7">
                        <svg width="185" height="186" viewBox="0 0 185 186" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle cx="2" cy="2" r="2" fill="currentColor"/>
                            <circle cx="22" cy="2" r="2" fill="currentColor"/>
                            <circle cx="42" cy="2" r="2" fill="currentColor"/>
                            <circle cx="62" cy="2" r="2" fill="currentColor"/>
                            <circle cx="82" cy="2" r="2" fill="currentColor"/>
                            <circle cx="102" cy="2" r="2" fill="currentColor"/>
                            <circle cx="122" cy="2" r="2" fill="currentColor"/>
                            <circle cx="142" cy="2" r="2" fill="currentColor"/>
                            <circle cx="162" cy="2" r="2" fill="currentColor"/>
                            <circle cx="182" cy="2" r="2" fill="currentColor"/>
                            <circle cx="2" cy="22" r="2" fill="currentColor"/>
                            <circle cx="22" cy="22" r="2" fill="currentColor"/>
                            <circle cx="42" cy="22" r="2" fill="currentColor"/>
                            <circle cx="62" cy="22" r="2" fill="currentColor"/>
                            <circle cx="82" cy="22" r="2" fill="currentColor"/>
                            <circle cx="102" cy="22" r="2" fill="currentColor"/>
                            <circle cx="122" cy="22" r="2" fill="currentColor"/>
                            <circle cx="142" cy="22" r="2" fill="currentColor"/>
                            <circle cx="162" cy="22" r="2" fill="currentColor"/>
                            <circle cx="182" cy="22" r="2" fill="currentColor"/>
                            <circle cx="2" cy="42" r="2" fill="currentColor"/>
                            <circle cx="22" cy="42" r="2" fill="currentColor"/>
                            <circle cx="42" cy="42" r="2" fill="currentColor"/>
                            <circle cx="62" cy="42" r="2" fill="currentColor"/>
                            <circle cx="82" cy="42" r="2" fill="currentColor"/>
                            <circle cx="102" cy="42" r="2" fill="currentColor"/>
                            <circle cx="122" cy="42" r="2" fill="currentColor"/>
                            <circle cx="142" cy="42" r="2" fill="currentColor"/>
                            <circle cx="162" cy="42" r="2" fill="currentColor"/>
                            <circle cx="182" cy="42" r="2" fill="currentColor"/>
                            <circle cx="2" cy="62" r="2" fill="currentColor"/>
                            <circle cx="22" cy="62" r="2" fill="currentColor"/>
                            <circle cx="42" cy="62" r="2" fill="currentColor"/>
                            <circle cx="62" cy="62" r="2" fill="currentColor"/>
                            <circle cx="82" cy="62" r="2" fill="currentColor"/>
                            <circle cx="102" cy="62" r="2" fill="currentColor"/>
                            <circle cx="122" cy="62" r="2" fill="currentColor"/>
                            <circle cx="142" cy="62" r="2" fill="currentColor"/>
                            <circle cx="162" cy="62" r="2" fill="currentColor"/>
                            <circle cx="182" cy="62" r="2" fill="currentColor"/>
                            <circle cx="2" cy="82" r="2" fill="currentColor"/>
                            <circle cx="22" cy="82" r="2" fill="currentColor"/>
                            <circle cx="42" cy="82" r="2" fill="currentColor"/>
                            <circle cx="62" cy="82" r="2" fill="currentColor"/>
                            <circle cx="82" cy="82" r="2" fill="currentColor"/>
                            <circle cx="102" cy="82" r="2" fill="currentColor"/>
                            <circle cx="122" cy="82" r="2" fill="currentColor"/>
                            <circle cx="142" cy="82" r="2" fill="currentColor"/>
                            <circle cx="162" cy="82" r="2" fill="currentColor"/>
                            <circle cx="182" cy="82" r="2" fill="currentColor"/>
                            <circle cx="2" cy="102" r="2" fill="currentColor"/>
                            <circle cx="22" cy="102" r="2" fill="currentColor"/>
                            <circle cx="42" cy="102" r="2" fill="currentColor"/>
                            <circle cx="62" cy="102" r="2" fill="currentColor"/>
                            <circle cx="82" cy="102" r="2" fill="currentColor"/>
                            <circle cx="102" cy="102" r="2" fill="currentColor"/>
                            <circle cx="122" cy="102" r="2" fill="currentColor"/>
                            <circle cx="142" cy="102" r="2" fill="currentColor"/>
                            <circle cx="162" cy="102" r="2" fill="currentColor"/>
                            <circle cx="182" cy="102" r="2" fill="currentColor"/>
                            <circle cx="2" cy="122" r="2" fill="currentColor"/>
                            <circle cx="22" cy="122" r="2" fill="currentColor"/>
                            <circle cx="42" cy="122" r="2" fill="currentColor"/>
                            <circle cx="62" cy="122" r="2" fill="currentColor"/>
                            <circle cx="82" cy="122" r="2" fill="currentColor"/>
                            <circle cx="102" cy="122" r="2" fill="currentColor"/>
                            <circle cx="122" cy="122" r="2" fill="currentColor"/>
                            <circle cx="142" cy="122" r="2" fill="currentColor"/>
                            <circle cx="162" cy="122" r="2" fill="currentColor"/>
                            <circle cx="182" cy="122" r="2" fill="currentColor"/>
                            <circle cx="2" cy="142" r="2" fill="currentColor"/>
                            <circle cx="22" cy="142" r="2" fill="currentColor"/>
                            <circle cx="42" cy="142" r="2" fill="currentColor"/>
                            <circle cx="62" cy="142" r="2" fill="currentColor"/>
                            <circle cx="82" cy="142" r="2" fill="currentColor"/>
                            <circle cx="102" cy="142" r="2" fill="currentColor"/>
                            <circle cx="122" cy="142" r="2" fill="currentColor"/>
                            <circle cx="142" cy="142" r="2" fill="currentColor"/>
                            <circle cx="162" cy="142" r="2" fill="currentColor"/>
                            <circle cx="182" cy="142" r="2" fill="currentColor"/>
                            <circle cx="2" cy="162" r="2" fill="currentColor"/>
                            <circle cx="22" cy="162" r="2" fill="currentColor"/>
                            <circle cx="42" cy="162" r="2" fill="currentColor"/>
                            <circle cx="62" cy="162" r="2" fill="currentColor"/>
                            <circle cx="82" cy="162" r="2" fill="currentColor"/>
                            <circle cx="102" cy="162" r="2" fill="currentColor"/>
                            <circle cx="122" cy="162" r="2" fill="currentColor"/>
                            <circle cx="142" cy="162" r="2" fill="currentColor"/>
                            <circle cx="162" cy="162" r="2" fill="currentColor"/>
                            <circle cx="182" cy="162" r="2" fill="currentColor"/>
                            <circle cx="2" cy="182" r="2" fill="currentColor"/>
                            <circle cx="22" cy="182" r="2" fill="currentColor"/>
                            <circle cx="42" cy="182" r="2" fill="currentColor"/>
                            <circle cx="62" cy="182" r="2" fill="currentColor"/>
                            <circle cx="82" cy="182" r="2" fill="currentColor"/>
                            <circle cx="102" cy="182" r="2" fill="currentColor"/>
                            <circle cx="122" cy="182" r="2" fill="currentColor"/>
                            <circle cx="142" cy="182" r="2" fill="currentColor"/>
                            <circle cx="162" cy="182" r="2" fill="currentColor"/>
                            <circle cx="182" cy="182" r="2" fill="currentColor"/>
                        </svg>
                    </div>

                    <!-- Slider -->
                    <div class="flickity-buttons-overlap border border-7 border-white shadow-lg"
                         data-flickity='{"imagesLoaded": true, "pageDots": false, "wrapAround": true}'>
                        <div class="w-100">

                            <!-- Image -->
                            <img class="img-fluid" src="../../static/assets/img/about/hero-slider-1.png" alt="...">

                        </div>
                        <div class="w-100">

                            <!-- Image -->
                            <img class="img-fluid" src="../../static/assets/img/about/hero-slider-2.png" alt="...">

                        </div>
                        <div class="w-100">

                            <!-- Image -->
                            <img class="img-fluid" src="../../static/assets/img/about/hero-slider-3.png" alt="...">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-fluid-x shape-top text-dark pb-10 pb-md-16 pb-lg-18">
            <div class="shape-img pb-8 pb-md-10">
                <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                    <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                </svg>
            </div>
        </div>
    </div>

    <!-- TEAM -->
    <section class="pt-10 pt-md-12 bg-dark">
        <div class="container-lg">
            <div class="row align-items-center mb-9">
                <div class="col-12 col-md">

                    <!-- Heading -->
                    <h2 class="display-4 text-white mb-0">
                        Dream Team
                    </h2>

                    <!-- Text -->
                    <p class="text-gray-500 mb-md-0">
                        Команда ООО “Мондино Технолоджес”
                    </p>

                </div>
                <div class="col-12 col-md-auto">

                    <!-- Nav -->
                    <ul class="nav nav-tabs nav-dark nav-overflow mb-0" id="teamTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-toggle="tab" data-filter=".founders" data-target="#team"
                               href="#">
                                Founders
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-toggle="tab" data-filter=".board" data-target="#team" href="#">
                                Board
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-toggle="tab" data-filter=".investors" data-target="#team" href="#">
                                Investors
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row mt-n5" id="team" data-isotope='{"layoutMode": "fitRows", "imagesLoaded": true}'>
                <div class="col-6 col-md-3 founders investors">

                    <!-- Card -->
                    <div class="card card-sm bg-transparent mt-5">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left rounded-bottom-right"
                             src="../../static/assets/img/avatars/avatar-1.png" alt="...">

                        <!-- Body -->
                        <div class="card-body px-0 text-center">

                            <!-- Heading -->
                            <h5 class="font-family-sans-serif text-white mb-0">
                                Титов Михаил
                            </h5>

                            <!-- Text -->
                            <small class="text-muted">
                                Founder, CVO
                            </small>

                        </div>

                    </div>

                </div>
                <div class="col-6 col-md-3 founders board">

                    <!-- Card -->
                    <div class="card card-sm bg-transparent mt-5">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left rounded-bottom-right"
                             src="../../static/assets/img/avatars/avatar-2.png" alt="...">

                        <!-- Body -->
                        <div class="card-body px-0 text-center">

                            <!-- Heading -->
                            <h5 class="font-family-sans-serif text-white mb-0">
                                Белостоцкий-Капгер Авигдор
                            </h5>

                            <!-- Text -->
                            <small class="text-muted">
                                CEO, team lead
                            </small>

                        </div>

                    </div>

                </div>
                <div class="col-6 col-md-3 founders investors">

                    <!-- Card -->
                    <div class="card card-sm bg-transparent mt-5">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left rounded-bottom-right"
                             src="../../static/assets/img/avatars/avatar-3.png" alt="...">

                        <!-- Body -->
                        <div class="card-body px-0 text-center">

                            <!-- Heading -->
                            <h5 class="font-family-sans-serif text-white mb-0">
                                Айталина Лукавина
                            </h5>

                            <!-- Text -->
                            <small class="text-muted">
                                Project manager, marketer
                            </small>

                        </div>

                    </div>

                </div>
                <div class="col-6 col-md-3 founders board">

                    <!-- Card -->
                    <div class="card card-sm bg-transparent mt-5">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left rounded-bottom-right"
                             src="../../static/assets/img/avatars/avatar-4.png" alt="...">

                        <!-- Body -->
                        <div class="card-body px-0 text-center">

                            <!-- Heading -->
                            <h5 class="font-family-sans-serif text-white mb-0">
                                Виктор Павлов
                            </h5>

                            <!-- Text -->
                            <small class="text-muted">
                                CTO, Full stack developer
                            </small>

                        </div>

                    </div>

                </div>
                <div class="col-6 col-md-3 founders investors">

                    <!-- Card -->
                    <div class="card card-sm bg-transparent mt-5">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left rounded-bottom-right"
                             src="../../static/assets/img/avatars/avatar-5.png" alt="...">

                        <!-- Body -->
                        <div class="card-body px-0 text-center">

                            <!-- Heading -->
                            <h5 class="font-family-sans-serif text-white mb-0">
                                Виктория Стасюлевич
                            </h5>

                            <!-- Text -->
                            <small class="text-muted">
                                Chief Design Officer
                            </small>

                        </div>

                    </div>

                </div>
                <div class="col-6 col-md-3 founders board">

                    <!-- Card -->
                    <div class="card card-sm bg-transparent mt-5">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left rounded-bottom-right"
                             src="../../static/assets/img/avatars/avatar-6.png" alt="...">

                        <!-- Body -->
                        <div class="card-body px-0 text-center">

                            <!-- Heading -->
                            <h5 class="font-family-sans-serif text-white mb-0">
                                Ульяна Семенова
                            </h5>

                            <!-- Text -->
                            <small class="text-muted">
                                SEO, SMM
                            </small>

                        </div>

                    </div>

                </div>
                <div class="col-6 col-md-3 founders investors">

                    <!-- Card -->
                    <div class="card card-sm bg-transparent mt-5">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left rounded-bottom-right"
                             src="../../static/assets/img/avatars/avatar-7.png" alt="...">

                        <!-- Body -->
                        <div class="card-body px-0 text-center">

                            <!-- Heading -->
                            <h5 class="font-family-sans-serif text-white mb-0">
                                Андрей Аммосов
                            </h5>

                            <!-- Text -->
                            <small class="text-muted">
                                Frontend developer
                            </small>

                        </div>

                    </div>

                </div>
                <div class="col-6 col-md-3 founders board">

                    <!-- Card -->
                    <div class="card card-sm bg-transparent mt-5">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left rounded-bottom-right"
                             src="../../static/assets/img/avatars/avatar-8.png" alt="...">

                        <!-- Body -->
                        <div class="card-body px-0 text-center">

                            <!-- Heading -->
                            <h5 class="font-family-sans-serif text-white mb-0">
                                Слава Скосырский
                            </h5>

                            <!-- Text -->
                            <small class="text-muted">
                                Frontend developer
                            </small>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- FEATURES -->
    <section class="py-10 py-md-12 bg-dark">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 text-center">

                    <!-- Divider -->
                    <hr class="hr-sm border-white-20 mb-10 mb-md-12">

                    <!-- Preheading -->
                    <h6 class="text-uppercase text-primary mb-5">
                        Our Principles
                    </h6>

                    <!-- Heading -->
                    <h2 class="display-4 text-white mb-9 mb-md-10">
                        Мы строим международную медицинскую ИТ-компанию, которая изменит мир.
                    </h2>

                </div>
            </div>
            <div class="row mt-n8 mt-md-n9">
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-8 mt-md-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                            <img src="../../static/assets/img/medic/Group2.png"/>
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Командный дух
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                                Мы “Dream team” благодаря чувству командного духа. Это территория эмпатии, юмора и
                                добродушия. Для нас важно развиваться и поддерживать друг друга плечом к плечу.
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-8 mt-md-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                            <img src="../../static/assets/img/medic/Group2.png"/>
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Гибкость
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                                Мыслить и работать намного эффективнее и приятнее, используя гибкий подход. А также
                                уметь действовать здесь и сейчас
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                             <img src="../../static/assets/img/medic/Group2.png" />
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Позитивный настрой
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                                Мы уверенно смотрим вперед и ценим вклад каждого. Даже в самые тяжелые моменты все
                                убеждены, что справятся.
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-8 mt-md-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                            <img src="../../static/assets/img/medic/Group2.png" />
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Проактивность
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                                Мы команда, которая проявляет инициативу и принимает вывоз. Мы ценим легкость на подъем
                                и ищем лучшие способы решения задач.
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-8 mt-md-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                            <img src="../../static/assets/img/medic/Group2.png" />
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Вовлеченность
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                                Наши глаза горят во время процесса работы. Нам нравится то, что мы делаем. Благодаря
                                данной ценности мы способны добиваться высоких результатов.
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-8 mt-md-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                           <img src="../../static/assets/img/medic/Group2.png" />
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Уважение и доверие
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                                Для нас супер важно, чтобы царила атмосфера взаимного уважения. Мы ценим доверие, как
                                воздух. Поскольку мы дышим легко и привольно в такой командной культуре. Каждый в
                                команде может рассчитывать на коллег.
                            </p>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-fluid-x shape-bottom text-dark">
            <div class="shape-img pb-8 pb-md-12">
                <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                    <path d="M0 0h100v50H75L25 25H0z" fill="currentColor"/>
                </svg>
            </div>
        </div>
    </div>

    <!-- MAP -->
    <section class="bg-light">
        <div class="container-lg">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5 order-md-1 pt-11 pt-md-0 pb-md-12">

                    <!-- Image -->
                    <div class="position-relative">

                        <img class="card-img-top rounded-top-left" src="../../static/assets/img/blog/map.png" alt="...">

                    </div>

                </div>
                <div class="col-md-6 col-lg-5 order-md-0 py-11 py-md-13">

                    <!-- Heading -->
                    <h2 class="display-4 mb-4">
                        Медицинская ИТ-компания
                    </h2>

                    <!-- Text -->
                    <p class="text-muted">
                        Наша команда тесно сотрудничает с врачами и фармакологами для того, чтобы делать наш сервис
                        лучше и эффективнее для пользователей. Мы работаем в “Национальном центре медицины” РБ-№1
                        Республики Саха (Якутия) в г. Якутске, который находится по адресу Сергеляхское шоссе, 4.
                    </p>

                    <!-- Link -->


                </div>
            </div>
        </div>
    </section>

    <!-- PRESS -->
    <section class="pb-10 pb-md-12 bg-light">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 text-center">

                    <!-- Heading -->
                    <h2 class="display-3 mb-4">
                        СМИ о нас
                    </h2>

                    <!-- Text -->
                    <p class="text-muted mb-9">
                        Читаейте о развитии компании и наших проектах в новостях. Будь в курсе происходящего.
                    </p>

                </div>
            </div>
            <div class="row mt-n6">
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="../../static/assets/img/blog/post-header-3.png"
                             alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Персонализированная медицина.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                Сервис позволит контролировать здоровье благодаря технологиям ИИ и большим данным.
                            </p>
                            <div class="d-flex align-items-center">
                                <div class="ml-4 text-left">
                                    <p class="small mb-0">

                                    </p>
                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html">Перейти</a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="../../static/assets/img/blog/post-header-2.png"
                             alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                “Карманный доктор”
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                В Якутии разрабатывают новый сервис, которого еще нет в других регионах России.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">

                                <!-- Avatar -->

                                <!-- Body -->
                                <div class="ml-4 text-left">


                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html">Перейти</a>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <!-- Card -->
                    <div class="card card-sm rounded-top-left rounded-bottom-right lift lift-lg mt-6">

                        <!-- Image -->
                        <img class="card-img-top rounded-top-left" src="../../static/assets/img/blog/post-header-1.png"
                             alt="...">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-fluid-x shape-top text-white">
                                <div class="shape-img pb-5">
                                    <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                                        <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">

                            <!-- Heading -->
                            <h2 class="mb-2">
                                Pocket medic Виктора Белостоцкого.
                            </h2>

                            <!-- Text -->
                            <p class="font-size-sm mb-4">
                                «Карманный доктор» поможет выявлять последствия взаимодействия лекарств.
                            </p>

                            <!-- Footer -->
                            <div class="d-flex align-items-center">

                                <!-- Avatar -->


                                <!-- Body -->
                                <div class="ml-4 text-left">

                                    <!-- Title -->


                                </div>

                            </div>

                            <!-- Link -->
                            <a class="stretched-link" href="blog-post.html">Перейти</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}