{% extends "base.html" %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load team_tags %}

{% block body_class %} template-homepage {% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/team/team.css' %}">{% endblock %}

{% block content %}

<section class="team__general">
    <div class="team__general-container">
        <div class="team__general-content">
            <div class="team__general-title">
                О компании
            </div>
            <div class="team__general-text">
                Целью мондино технолоджес - дать возможность и привить пользователям привычку самостоятельно заботиться о своем здоровье с помощью наших Сервисов.
            </div>
            <div class="team__general-cards">
                <div class="team__general-card">
                    <div class="team__card-title">
                        6
                    </div>
                    <div class="team__card-text">
                        МЕД ПРОЕКТА
                    </div>
                </div>
                <div class="team__general-card">
                    <div class="team__card-title">
                        2020
                    </div>
                    <div class="team__card-text">
                        НАЧАЛО
                    </div>
                </div>
                <div class="team__general-card">
                    <div class="team__card-title">
                        60 000 $
                    </div>
                    <div class="team__card-text">
                        ИНВЕСТИЦИЙ
                    </div>
                </div>
                <div class="team__general-card">
                    <div class="team__card-title">
                        12
                    </div>
                    <div class="team__card-text">
                        ЧЕЛОВЕК В КОМАНДЕ
                    </div>
                </div>
            </div>
            <a href="" class="team__general-button">Связаться с нами</a>
        </div>
        <div class="team__general-img">
            <img src="{% static 'img/team/company_img_1.png' %}">
        </div>
    </div>
</section>
<!-- Main -->
<section class="main-general"> 
    <div class="pageWrapper">
        <div class="main-title">
            <p class="main-text1">Наши принципы</p>
            <p class="main-text2">Мы строим международную медицинскую ИТ-компанию, которая изменит мир</p>
        </div>
        <div class="main-general-content">
            <div class="main-cards">
                <div class="main-card">
                    <img src="{% static 'img/team/company_icon.svg' %}">
                    <div class="main-block-text-pos1">
                        <p class="main-block-text1">Командный дух</p>
                        <p class="main-block-text2">Мы “Dream team” благодаря чувству командного духа. Это территория эмпатии, юмора и добродушия. Для нас важно развиваться и поддерживать друг друга плечом к плечу.</p>
                    </div>
                </div>
                <div class="main-card">
                    <img src="{% static 'img/team/company_icon.svg' %}">
                    <div class="main-block-text-pos1">
                        <p class="main-block-text1">Гибкость</p>
                        <p class="main-block-text2">Мыслить и работать намного эффективнее и приятнее, используя гибкий подход. А также уметь действовать здесь и сейчас.</p>
                    </div>
                </div>
                <div class="main-card">
                    <img src="{% static 'img/team/company_icon.svg' %}">
                    <div class="main-block-text-pos1">
                        <p class="main-block-text1">Позитивный настрой</p>
                        <p class="main-block-text2">Мы уверенно смотрим вперед и ценим вклад каждого. Даже в самые тяжелые моменты все убеждены, что справятся.</p>
                    </div>
                </div>
                <div class="main-card">
                    <img src="{% static 'img/team/company_icon.svg' %}">
                    <div class="main-block-text-pos1">
                        <p class="main-block-text1">Проактивность</p>
                        <p class="main-block-text2">Мы команда, которая проявляет инициативу и принимает вывоз. Мы ценим легкость на подъем и ищем лучшие способы решения задач.</p>
                    </div>
                </div>
                <div class="main-card">
                    <img src="{% static 'img/team/company_icon.svg' %}">
                    <div class="main-block-text-pos1">
                        <p class="main-block-text1">Вовлеченность</p>
                        <p class="main-block-text2">Наши глаза горят во время процесса работы. Нам нравится то, что мы делаем. Благодаря данной ценности мы способны добиваться высоких результатов.</p>
                    </div>
                </div>
                <div class="main-card">
                    <img src="{% static 'img/team/company_icon.svg' %}">
                    <div class="main-block-text-pos1">
                        <p class="main-block-text1">Уважение и доверие </p>
                        <p class="main-block-text2">Для нас супер важно, чтобы царила атмосфера взаимного уважения. Мы ценим доверие, как воздух. Поскольку мы дышим легко и привольно в такой командной культуре. Каждый в команде может рассчитывать на коллег.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Medicine -->
<section class="team__medicine">
    <div class="pageWrapper">
        <div class="team__medicine-content">
            <div class="team__medicine-title">
                Медицинская ИТ-компания
            </div>
            <div class="team__medicine-text">
                Наша команда тесно сотрудничает с врачами и фармакологами для того, чтобы делать наш сервис лучше и эффективнее для пользователей. Мы работаем в “Национальном центре медицины” РБ-№1 Республики Саха (Якутия) в г. Якутске, который находится по адресу Сергеляхское шоссе, 4.
            </div>
        </div>
    </div>
</section>
<!-- Command -->
<section class="team__command">
    <div class="pageWrapper">
        <div class="team__command-content">
            <div class="team__command-row1">
                <div class="command__card">
                    <div class="command__card-img">
                        <img src="{% static 'img/team/command_1.jpg' %}">
                    </div>
                    <div class="command__card-title">
                        Титов Михаил
                    </div>
                    <div class="command__card-text">
                        Founder, CVO
                    </div>
                </div>
                <div class="command__card">
                    <div class="command__card-img">
                        <img src="{% static 'img/team/command_2.jpg' %}">
                    </div>
                    <div class="command__card-title">
                        Виктор Белостоцкий
                    </div>
                    <div class="command__card-text">
                        CEO, team lead
                    </div>
                </div>
                <div class="command__card">
                    <div class="command__card-img">
                        <img src="{% static 'img/team/command_3.jpg' %}">
                    </div>
                    <div class="command__card-title">
                        Виктор Павлов
                    </div>
                    <div class="command__card-text">
                        CTO, Full stack developer
                    </div>
                </div>
                <div class="command__card">
                    <div class="command__card-img">
                        <img src="{% static 'img/team/command_4.jpg' %}">
                    </div>
                    <div class="command__card-title">
                        Слава Скосырский
                    </div>
                    <div class="command__card-text">
                        Frontend developer
                    </div>
                </div>
                <div class="command__card">
                    <div class="command__card-img">
                        <img src="{% static 'img/team/command_5.jpg' %}">
                    </div>
                    <div class="command__card-title">
                        Вячеслав Голоков
                    </div>
                    <div class="command__card-text">
                        Frontend developer
                    </div>
                </div>
                <div class="command__card">
                    <div class="command__card-img">
                        <img src="{% static 'img/team/command_6.jpg' %}">
                    </div>
                    <div class="command__card-title">
                        Эрнест Эверстов
                    </div>
                    <div class="command__card-text">
                        Frontend developer
                    </div>
                </div>
                <div class="command__card">
                    <div class="command__card-img">
                        <img src="{% static 'img/team/command_7.jpg' %}">
                    </div>
                    <div class="command__card-title">
                        Дьулустаан Семенов
                    </div>
                    <div class="command__card-text">
                        Project manager
                    </div>
                </div>
                <div class="command__card">
                    <div class="command__card-img">
                        <img src="{% static 'img/team/command_8.jpg' %}">
                    </div>
                    <div class="command__card-title">
                        Андрей Аммосов
                    </div>
                    <div class="command__card-text">
                        Frontend developer
                    </div>
                </div>
                <div class="command__card">
                    <div class="command__card-img">
                        <img src="{% static 'img/team/command_9.jpg' %}">
                    </div>
                    <div class="command__card-title">
                        Николай Бочкарев
                    </div>
                    <div class="command__card-text">
                        Frontend developer
                    </div>
                </div>
                <div class="command__card">
                    <div class="command__card-img">
                        <img src="{% static 'img/team/command_10.jpg' %}">
                    </div>
                    <div class="command__card-title">
                        Иван Колесов
                    </div>
                    <div class="command__card-text">
                        UI/UX designer
                    </div>
                </div>
                <div class="command__card">
                    <div class="command__card-img">
                        <img src="{% static 'img/team/command_11.jpg' %}">
                    </div>
                    <div class="command__card-title">
                        Николай Спиридонов
                    </div>
                    <div class="command__card-text">
                        Backend developer
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About -->
<section class="team__about">
    <div class="pageWrapper">
        <div class="main-title">
            <p class="about-1">СМИ о нас</p>
            <p class="about-2">Читайте о развитии компании и наших проектах в новостях. Будь в курсе происходящего.</p>
        </div>
        <div class="about-content">
            <div class="about-cards">
                <div class="about-card">
                    <div class="about-block">
                        <img src="{% static 'img/team/Rectangle176.svg' %}">
                        <div class="about__text-group">
                            <p class="about-text-1">Персонализированная медицина</p>
                            <p class="about-text-2">Сервис позволит контролировать здоровье благодаря технологиям ИИ и большим данным.</p>
                            <a href="" class="about-button">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="about-card">
                    <div class="about-block">
                        <img src="{% static 'img/team/Rectangle175.svg' %}">
                        <div class="about__text-group">
                            <p class="about-text-1">“Карманный <br> доктор”</p>
                            <p class="about-text-2">В Якутии разрабатывают новый сервис, которого еще нет в других регионах России.</p>
                            <a href="" class="about-button">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="about-card">
                    <div class="about-block">
                        <img src="{% static 'img/team/Rectangle174.svg' %}">
                        <div class="about__text-group">
                            <p class="about-text-1">Pocket medic Виктора Белостоцкого</p>
                            <p class="about-text-2">«Карманный доктор» поможет выявлять последствия взаимодействия лекарств.</p>
                            <a href="" class="about-button">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}