{% extends "base.html" %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load team_tags %}

{% block body_class %} template-homepage {% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/team/team.css' %}">{% endblock %}

{% block content %}

<section class="team__general">
    <div class="team__general-container">
        <div class="team__general-content">
            <div class="team__general-title">
                О компании
            </div>
            <div class="team__general-text">
                Целью мондино технолоджес - дать возможность и привить пользователям привычку самостоятельно заботиться о своем здоровье с помощью наших Сервисов.
            </div>
            <div class="team__general-cards">
                <div class="team__general-card">
                    <div class="team__card-title">
                        6
                    </div>
                    <div class="team__card-text">
                        МЕД ПРОЕКТА
                    </div>
                </div>
                <div class="team__general-card">
                    <div class="team__card-title">
                        2020
                    </div>
                    <div class="team__card-text">
                        НАЧАЛО
                    </div>
                </div>
                <div class="team__general-card">
                    <div class="team__card-title">
                        60 000 $
                    </div>
                    <div class="team__card-text">
                        ИНВЕСТИЦИЙ
                    </div>
                </div>
                <div class="team__general-card">
                    <div class="team__card-title">
                        12
                    </div>
                    <div class="team__card-text">
                        ЧЕЛОВЕК В КОМАНДЕ
                    </div>
                </div>
            </div>
            <a href="https://mail.google.com/mail/u/0/#inbox" class="team__general-button">Связваться с нами</a>
        </div>
        <div class="team__general-img">
            <img src="{% static 'img/company_img_1.svg' %}">
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}