{% extends  "base.html" %}

{% load wagtailcore_tags %}
{% block  content %}
    <section class="pt-6 pt-md-10">
        <div class="container-lg">
            <div class="row align-items-center">
                <div class="col-md-6 col-xl-5 text-center text-md-left mt-md-n8" data-aos="fade-up">

                    <!-- Heading -->
                    <h1 class="display-3 mb-4">
                        Pocket Medic,  <span
                            class="text-primary-light text-underline-primary-light d-none d-lg-inline"><span style="font-family: sans-serif" data-typed
                                                                                                             data-options='{"strings": ["все что нужно для Здоровья", "все что нужно для Здоровья", "все что нужно для Здоровья"]}'></span></span><span
                            class="text-primary-light text-underline-primary-light d-lg-none">все что нужно для Здоровья</span>
                    </h1>

                    <!-- Text -->
                    <p class="font-size-lg">
                        Не знаете где посмотреть акции на платные медицинские услуги и как экономить?
                    </p>

                    <!-- Buttons -->
                    <div class="mb-8 mb-md-0">
                        <a class="btn btn-primary-light lift"
                           href="https://play.google.com/store/apps/details?id=com.pmedic_front_ts">
                            Установить
                        </a>
                        <a class="btn btn-white lift ml-3"
                           href="https://play.google.com/store/apps/details?id=com.pmedic_front_ts">
                            Узнать подробнее
                        </a>
                    </div>

                </div>
                  <div class="col-md-5 offset-md-1 offset-xl-2 align-self-start d-none d-md-block">
                    <img class="position-absolute img-fluid mw-125 mt-n9" src="../../static/assets/img/blurs/blurs-1.png" alt="..."
                         data-aos="fade-up" data-aos-delay="100" >

                </div>
                <div class="col-md-4 offset-md-n4" style="margin-top: 150px">
                    <div class="position-relative">
                        <div class="position-absolute bottom-right text-primary-light mr-n8 mb-n6" data-aos="fade-up"
                             data-aos-delay="150" >
                            <svg width="185" height="186" viewBox="0 0 185 186" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <circle cx="2" cy="2" r="2" fill="currentColor"/>
                                <circle cx="22" cy="2" r="2" fill="currentColor"/>
                                <circle cx="42" cy="2" r="2" fill="currentColor"/>
                                <circle cx="62" cy="2" r="2" fill="currentColor"/>
                                <circle cx="82" cy="2" r="2" fill="currentColor"/>
                                <circle cx="102" cy="2" r="2" fill="currentColor"/>
                                <circle cx="122" cy="2" r="2" fill="currentColor"/>
                                <circle cx="142" cy="2" r="2" fill="currentColor"/>
                                <circle cx="162" cy="2" r="2" fill="currentColor"/>
                                <circle cx="182" cy="2" r="2" fill="currentColor"/>
                                <circle cx="2" cy="22" r="2" fill="currentColor"/>
                                <circle cx="22" cy="22" r="2" fill="currentColor"/>
                                <circle cx="42" cy="22" r="2" fill="currentColor"/>
                                <circle cx="62" cy="22" r="2" fill="currentColor"/>
                                <circle cx="82" cy="22" r="2" fill="currentColor"/>
                                <circle cx="102" cy="22" r="2" fill="currentColor"/>
                                <circle cx="122" cy="22" r="2" fill="currentColor"/>
                                <circle cx="142" cy="22" r="2" fill="currentColor"/>
                                <circle cx="162" cy="22" r="2" fill="currentColor"/>
                                <circle cx="182" cy="22" r="2" fill="currentColor"/>
                                <circle cx="2" cy="42" r="2" fill="currentColor"/>
                                <circle cx="22" cy="42" r="2" fill="currentColor"/>
                                <circle cx="42" cy="42" r="2" fill="currentColor"/>
                                <circle cx="62" cy="42" r="2" fill="currentColor"/>
                                <circle cx="82" cy="42" r="2" fill="currentColor"/>
                                <circle cx="102" cy="42" r="2" fill="currentColor"/>
                                <circle cx="122" cy="42" r="2" fill="currentColor"/>
                                <circle cx="142" cy="42" r="2" fill="currentColor"/>
                                <circle cx="162" cy="42" r="2" fill="currentColor"/>
                                <circle cx="182" cy="42" r="2" fill="currentColor"/>
                                <circle cx="2" cy="62" r="2" fill="currentColor"/>
                                <circle cx="22" cy="62" r="2" fill="currentColor"/>
                                <circle cx="42" cy="62" r="2" fill="currentColor"/>
                                <circle cx="62" cy="62" r="2" fill="currentColor"/>
                                <circle cx="82" cy="62" r="2" fill="currentColor"/>
                                <circle cx="102" cy="62" r="2" fill="currentColor"/>
                                <circle cx="122" cy="62" r="2" fill="currentColor"/>
                                <circle cx="142" cy="62" r="2" fill="currentColor"/>
                                <circle cx="162" cy="62" r="2" fill="currentColor"/>
                                <circle cx="182" cy="62" r="2" fill="currentColor"/>
                                <circle cx="2" cy="82" r="2" fill="currentColor"/>
                                <circle cx="22" cy="82" r="2" fill="currentColor"/>
                                <circle cx="42" cy="82" r="2" fill="currentColor"/>
                                <circle cx="62" cy="82" r="2" fill="currentColor"/>
                                <circle cx="82" cy="82" r="2" fill="currentColor"/>
                                <circle cx="102" cy="82" r="2" fill="currentColor"/>
                                <circle cx="122" cy="82" r="2" fill="currentColor"/>
                                <circle cx="142" cy="82" r="2" fill="currentColor"/>
                                <circle cx="162" cy="82" r="2" fill="currentColor"/>
                                <circle cx="182" cy="82" r="2" fill="currentColor"/>
                                <circle cx="2" cy="102" r="2" fill="currentColor"/>
                                <circle cx="22" cy="102" r="2" fill="currentColor"/>
                                <circle cx="42" cy="102" r="2" fill="currentColor"/>
                                <circle cx="62" cy="102" r="2" fill="currentColor"/>
                                <circle cx="82" cy="102" r="2" fill="currentColor"/>
                                <circle cx="102" cy="102" r="2" fill="currentColor"/>
                                <circle cx="122" cy="102" r="2" fill="currentColor"/>
                                <circle cx="142" cy="102" r="2" fill="currentColor"/>
                                <circle cx="162" cy="102" r="2" fill="currentColor"/>
                                <circle cx="182" cy="102" r="2" fill="currentColor"/>
                                <circle cx="2" cy="122" r="2" fill="currentColor"/>
                                <circle cx="22" cy="122" r="2" fill="currentColor"/>
                                <circle cx="42" cy="122" r="2" fill="currentColor"/>
                                <circle cx="62" cy="122" r="2" fill="currentColor"/>
                                <circle cx="82" cy="122" r="2" fill="currentColor"/>
                                <circle cx="102" cy="122" r="2" fill="currentColor"/>
                                <circle cx="122" cy="122" r="2" fill="currentColor"/>
                                <circle cx="142" cy="122" r="2" fill="currentColor"/>
                                <circle cx="162" cy="122" r="2" fill="currentColor"/>
                                <circle cx="182" cy="122" r="2" fill="currentColor"/>
                                <circle cx="2" cy="142" r="2" fill="currentColor"/>
                                <circle cx="22" cy="142" r="2" fill="currentColor"/>
                                <circle cx="42" cy="142" r="2" fill="currentColor"/>
                                <circle cx="62" cy="142" r="2" fill="currentColor"/>
                                <circle cx="82" cy="142" r="2" fill="currentColor"/>
                                <circle cx="102" cy="142" r="2" fill="currentColor"/>
                                <circle cx="122" cy="142" r="2" fill="currentColor"/>
                                <circle cx="142" cy="142" r="2" fill="currentColor"/>
                                <circle cx="162" cy="142" r="2" fill="currentColor"/>
                                <circle cx="182" cy="142" r="2" fill="currentColor"/>
                                <circle cx="2" cy="162" r="2" fill="currentColor"/>
                                <circle cx="22" cy="162" r="2" fill="currentColor"/>
                                <circle cx="42" cy="162" r="2" fill="currentColor"/>
                                <circle cx="62" cy="162" r="2" fill="currentColor"/>
                                <circle cx="82" cy="162" r="2" fill="currentColor"/>
                                <circle cx="102" cy="162" r="2" fill="currentColor"/>
                                <circle cx="122" cy="162" r="2" fill="currentColor"/>
                                <circle cx="142" cy="162" r="2" fill="currentColor"/>
                                <circle cx="162" cy="162" r="2" fill="currentColor"/>
                                <circle cx="182" cy="162" r="2" fill="currentColor"/>
                                <circle cx="2" cy="182" r="2" fill="currentColor"/>
                                <circle cx="22" cy="182" r="2" fill="currentColor"/>
                                <circle cx="42" cy="182" r="2" fill="currentColor"/>
                                <circle cx="62" cy="182" r="2" fill="currentColor"/>
                                <circle cx="82" cy="182" r="2" fill="currentColor"/>
                                <circle cx="102" cy="182" r="2" fill="currentColor"/>
                                <circle cx="122" cy="182" r="2" fill="currentColor"/>
                                <circle cx="142" cy="182" r="2" fill="currentColor"/>
                                <circle cx="162" cy="182" r="2" fill="currentColor"/>
                                <circle cx="182" cy="182" r="2" fill="currentColor"/>
                            </svg>
                        </div>
                        <div>
                            <img class="position-relative img-fluid mw-75 mw-md-100 rounded-top-left rounded-bottom-right shadow-lg"
                                 src="../../static/assets/img/blog/post-header-10.png" alt="..." data-aos="fade-up" data-aos-delay="200">
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section class="pt-10 pt-md-12" style="margin-top: 100px">
        <div class="container-lg">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5">
                    <img class="img-fluid" data-jarallax-element="0" width="100%" height="100%"
                         src="../../static/assets/img/medic/20.png"
                         alt="...">
                </div>
                <div class="col-md-6 col-xl-5 text-center text-md-left">

                    <!-- Heading -->
                    <h2 class="display-5 mb-5">
                        Все выгодные акции в одном приложении
                    </h2>

                    <!-- Text -->
                    <p class="text-muted mb-4">
                        Найдите Вашу клинику. Получите промокод и покажите при приеме. При использовании Pocket medic Вы
                        экономите
                        деньги и время.
                    </p>
                    <p class="text-muted mb-0">
                        Мы тесно сотрудничаем с клиниками и медицинскими учреждениями, чтобы предлагать для Вас выгодные
                        условия.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section class="py-10 py-md-12">
        <div class="container-lg">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 order-md-1" style="text-align: center">
                    <img class="img-fluid mb-6 mb-md-0" src="../../static/assets/img/medic/4.png" alt="...">
                </div>
                <div class="col-md-6 col-xl-5 order-md-0 text-center text-md-left">

                    <!-- Heading -->
                    <h2 class="display-5 mb-5">
                        Принимайте лекарства вовремя в установленной дозе
                    </h2>

                    <!-- Item -->
                    <div class="row">
                        <div class="col-12 col-md-auto">

                            <!-- Icon -->
                            <div class="icon text-primary-light mb-2">
                                <img src="../../static/assets/img/medic/local_hospital.png" />
                            </div>

                        </div>
                        <div class="col">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold mb-2">
                                Таблетница
                            </p>

                            <!-- Text -->
                            <p class="text-muted mb-5">
                                Добавляйте ваши лекарства в личный профиль и выстраивайте курс приема лекарств.
                            </p>

                        </div>
                    </div>

                    <!-- Item -->
                    <div class="row">
                        <div class="col-12 col-md-auto">

                            <!-- Icon -->
                            <div class="icon text-primary-light mb-2">
                                <img src="../../static/assets/img/medic/search.png" />
                            </div>

                        </div>
                        <div class="col">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold mb-2">
                                Поиск лекарств
                            </p>

                            <!-- Text -->
                            <p class="text-muted mb-0">
                                Через сервис можно найти интересующие Вас препараты. Посмотреть цены и аптеки, в которых
                                их приобрести.
                            </p>

                        </div>
                    </div>

                    <!-- Item -->
                    <div class="row" style="margin-top: 25px">
                        <div class="col-12 col-md-auto">

                            <!-- Icon -->
                            <div class="icon text-primary-light mb-2">
                                <img src="../../static/assets/img/medic/Vector.png" />
                            </div>

                        </div>
                        <div class="col">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold mb-2">
                                Напоминание
                            </p>

                            <!-- Text -->
                            <p class="text-muted mb-0">
                                Вы сможете принимать лекарства вовремя. Несоблюдение рационального приема лекарств может
                                привести к
                                осложнениям.
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- VIDEO -->
    <section>
        <div class="container-lg position-relative" style="z-index: 1;">
            <div class="row align-items-center">
                <div class="col-12">

                    <!-- Decoration -->
                    <div class="position-absolute bottom-right text-gray-800 mb-n10 mr-n8">
                        <svg width="207" height="207" viewBox="0 0 207 207" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M6.469 12.938A6.469 6.469 0 106.469 0a6.469 6.469 0 000 12.938zm0-1.618a4.852 4.852 0 100-9.703 4.852 4.852 0 000 9.703zM33.487 6.47l4.811-4.811L37.155.514l-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.81 4.812 1.143 1.143 4.81-4.81 4.812 4.81 1.143-1.143-4.81-4.811zm-1.143 32.343a6.469 6.469 0 100-12.937 6.469 6.469 0 000 12.938zm0-1.617a4.852 4.852 0 100-9.703 4.852 4.852 0 000 9.703zM7.612 32.344l4.811-4.811-1.143-1.144L6.469 31.2l-4.811-4.81-1.144 1.143 4.811 4.81-4.81 4.812 1.143 1.143 4.81-4.81 4.812 4.81 1.143-1.143-4.81-4.811z"
                                  fill="currentColor"/>
                            <g clip-path="url(#decoration4clip0)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M109.969 12.938a6.47 6.47 0 100-12.94 6.47 6.47 0 000 12.94zm0-1.618a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.811 4.812 1.144 1.143 4.811-4.81 4.811 4.81 1.143-1.143-4.811-4.811zm-1.143 32.343a6.469 6.469 0 10-.001-12.937 6.469 6.469 0 00.001 12.938zm0-1.617a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.811 4.812 1.144 1.143 4.811-4.81 4.811 4.81 1.143-1.143-4.811-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip1)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M6.469 64.688a6.469 6.469 0 100-12.938 6.469 6.469 0 000 12.938zm0-1.618a4.852 4.852 0 100-9.703 4.852 4.852 0 000 9.703zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.81 4.812 1.143 1.143 4.81-4.81 4.812 4.81 1.143-1.143-4.81-4.811zm-1.143 32.343a6.469 6.469 0 100-12.937 6.469 6.469 0 000 12.938zm0-1.617a4.852 4.852 0 100-9.703 4.852 4.852 0 000 9.703zM7.612 84.094l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.81 4.812 1.143 1.143 4.81-4.81 4.812 4.81 1.143-1.143-4.81-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip2)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M109.969 64.688a6.47 6.47 0 100-12.94 6.47 6.47 0 000 12.94zm0-1.618a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.811 4.812 1.144 1.143 4.811-4.81 4.811 4.81 1.143-1.143-4.811-4.811zm-1.143 32.343a6.469 6.469 0 10-.001-12.937 6.469 6.469 0 00.001 12.938zm0-1.617a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.811 4.812 1.144 1.143 4.811-4.81 4.811 4.81 1.143-1.143-4.811-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip3)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M58.219 12.938a6.469 6.469 0 100-12.938 6.469 6.469 0 000 12.938zm0-1.618a4.852 4.852 0 100-9.703 4.852 4.852 0 000 9.703zM85.237 6.47l4.811-4.811L88.905.514l-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.81 4.812 1.143 1.143 4.81-4.81 4.812 4.81 1.143-1.143-4.81-4.811zm-1.143 32.343a6.469 6.469 0 100-12.937 6.469 6.469 0 000 12.938zm0-1.617a4.852 4.852 0 100-9.703 4.852 4.852 0 000 9.703zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.81 4.812 1.143 1.143 4.81-4.81 4.812 4.81 1.143-1.143-4.81-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip4)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M161.719 12.938a6.47 6.47 0 100-12.94 6.47 6.47 0 000 12.94zm0-1.618a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.811 4.812 1.144 1.143 4.811-4.81 4.811 4.81 1.143-1.143-4.811-4.811zm-1.143 32.343a6.469 6.469 0 10-.001-12.937 6.469 6.469 0 00.001 12.938zm0-1.617a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.811 4.812 1.144 1.143 4.811-4.81 4.811 4.81 1.143-1.143-4.811-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip5)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M58.219 64.688a6.469 6.469 0 100-12.938 6.469 6.469 0 000 12.938zm0-1.618a4.852 4.852 0 100-9.703 4.852 4.852 0 000 9.703zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.81 4.812 1.143 1.143 4.81-4.81 4.812 4.81 1.143-1.143-4.81-4.811zm-1.143 32.343a6.469 6.469 0 100-12.937 6.469 6.469 0 000 12.938zm0-1.617a4.852 4.852 0 100-9.703 4.852 4.852 0 000 9.703zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.81 4.812 1.143 1.143 4.81-4.81 4.812 4.81 1.143-1.143-4.81-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip6)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M161.719 64.688a6.47 6.47 0 100-12.94 6.47 6.47 0 000 12.94zm0-1.618a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.811 4.812 1.144 1.143 4.811-4.81 4.811 4.81 1.143-1.143-4.811-4.811zm-1.143 32.343a6.469 6.469 0 10-.001-12.937 6.469 6.469 0 00.001 12.938zm0-1.617a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.81-1.144 1.143 4.811 4.81-4.811 4.812 1.144 1.143 4.811-4.81 4.811 4.81 1.143-1.143-4.811-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip7)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M6.469 116.438a6.47 6.47 0 10-.001-12.939 6.47 6.47 0 000 12.939zm0-1.618a4.851 4.851 0 100-9.703 4.851 4.851 0 000 9.703zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.81 4.811 1.143 1.143 4.81-4.811 4.812 4.811 1.143-1.143-4.81-4.811zm-1.143 32.343a6.469 6.469 0 100-12.937 6.469 6.469 0 000 12.937zm0-1.617a4.851 4.851 0 100-9.703 4.851 4.851 0 000 9.703zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.81 4.811 1.143 1.143 4.81-4.811 4.812 4.811 1.143-1.143-4.81-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip8)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M109.969 116.438a6.47 6.47 0 10-.002-12.94 6.47 6.47 0 00.002 12.94zm0-1.618a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.811 4.811 1.144 1.143 4.811-4.811 4.811 4.811 1.143-1.143-4.811-4.811zm-1.143 32.343a6.468 6.468 0 100-12.936 6.468 6.468 0 000 12.936zm0-1.617a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.811 4.811 1.144 1.143 4.811-4.811 4.811 4.811 1.143-1.143-4.811-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip9)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M6.469 168.188a6.47 6.47 0 10-.001-12.939 6.47 6.47 0 000 12.939zm0-1.618a4.851 4.851 0 100-9.703 4.851 4.851 0 000 9.703zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.81 4.811 1.143 1.143 4.81-4.811 4.812 4.811 1.143-1.143-4.81-4.811zm-1.143 32.343a6.469 6.469 0 100-12.937 6.469 6.469 0 000 12.937zm0-1.617a4.851 4.851 0 100-9.703 4.851 4.851 0 000 9.703zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.81 4.811 1.143 1.143 4.81-4.811 4.812 4.811 1.143-1.143-4.81-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip10)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M109.969 168.188a6.47 6.47 0 10-.002-12.94 6.47 6.47 0 00.002 12.94zm0-1.618a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.811 4.811 1.144 1.143 4.811-4.811 4.811 4.811 1.143-1.143-4.811-4.811zm-1.143 32.343a6.468 6.468 0 100-12.936 6.468 6.468 0 000 12.936zm0-1.617a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.811 4.811 1.144 1.143 4.811-4.811 4.811 4.811 1.143-1.143-4.811-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip11)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M58.219 116.438a6.47 6.47 0 10-.002-12.939 6.47 6.47 0 00.002 12.939zm0-1.618a4.851 4.851 0 100-9.703 4.851 4.851 0 000 9.703zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.81 4.811 1.143 1.143 4.81-4.811 4.812 4.811 1.143-1.143-4.81-4.811zm-1.143 32.343a6.469 6.469 0 100-12.937 6.469 6.469 0 000 12.937zm0-1.617a4.851 4.851 0 100-9.703 4.851 4.851 0 000 9.703zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.81 4.811 1.143 1.143 4.81-4.811 4.812 4.811 1.143-1.143-4.81-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip12)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M161.719 116.438a6.47 6.47 0 10-.002-12.94 6.47 6.47 0 00.002 12.94zm0-1.618a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.811 4.811 1.144 1.143 4.811-4.811 4.811 4.811 1.143-1.143-4.811-4.811zm-1.143 32.343a6.468 6.468 0 100-12.936 6.468 6.468 0 000 12.936zm0-1.617a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.811 4.811 1.144 1.143 4.811-4.811 4.811 4.811 1.143-1.143-4.811-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip13)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M58.219 168.188a6.47 6.47 0 10-.002-12.939 6.47 6.47 0 00.002 12.939zm0-1.618a4.851 4.851 0 100-9.703 4.851 4.851 0 000 9.703zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.81 4.811 1.143 1.143 4.81-4.811 4.812 4.811 1.143-1.143-4.81-4.811zm-1.143 32.343a6.469 6.469 0 100-12.937 6.469 6.469 0 000 12.937zm0-1.617a4.851 4.851 0 100-9.703 4.851 4.851 0 000 9.703zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.81 4.811 1.143 1.143 4.81-4.811 4.812 4.811 1.143-1.143-4.81-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <g clip-path="url(#decoration4clip14)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M161.719 168.188a6.47 6.47 0 10-.002-12.94 6.47 6.47 0 00.002 12.94zm0-1.618a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm27.018-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.811 4.811 1.144 1.143 4.811-4.811 4.811 4.811 1.143-1.143-4.811-4.811zm-1.143 32.343a6.468 6.468 0 100-12.936 6.468 6.468 0 000 12.936zm0-1.617a4.851 4.851 0 100-9.702 4.851 4.851 0 000 9.702zm-24.732-4.851l4.811-4.811-1.143-1.144-4.811 4.811-4.811-4.811-1.144 1.144 4.811 4.811-4.811 4.811 1.144 1.143 4.811-4.811 4.811 4.811 1.143-1.143-4.811-4.811z"
                                      fill="currentColor"/>
                            </g>
                            <defs>
                                <clipPath id="decoration4clip7">
                                    <path fill="#fff" d="M0 103.5h51.75v51.75H0z"/>
                                </clipPath>
                                <clipPath id="decoration4clip0">
                                    <path fill="#fff" d="M103.5 0h51.75v51.75H103.5z"/>
                                </clipPath>
                                <clipPath id="decoration4clip2">
                                    <path fill="#fff" d="M103.5 51.75h51.75v51.75H103.5z"/>
                                </clipPath>
                                <clipPath id="decoration4clip3">
                                    <path fill="#fff" d="M51.75 0h51.75v51.75H51.75z"/>
                                </clipPath>
                                <clipPath id="decoration4clip4">
                                    <path fill="#fff" d="M155.25 0H207v51.75h-51.75z"/>
                                </clipPath>
                                <clipPath id="decoration4clip5">
                                    <path fill="#fff" d="M51.75 51.75h51.75v51.75H51.75z"/>
                                </clipPath>
                                <clipPath id="decoration4clip6">
                                    <path fill="#fff" d="M155.25 51.75H207v51.75h-51.75z"/>
                                </clipPath>
                                <clipPath id="decoration4clip1">
                                    <path fill="#fff" d="M0 51.75h51.75v51.75H0z"/>
                                </clipPath>
                                <clipPath id="decoration4clip8">
                                    <path fill="#fff" d="M103.5 103.5h51.75v51.75H103.5z"/>
                                </clipPath>
                                <clipPath id="decoration4clip9">
                                    <path fill="#fff" d="M0 155.25h51.75V207H0z"/>
                                </clipPath>
                                <clipPath id="decoration4clip10">
                                    <path fill="#fff" d="M103.5 155.25h51.75V207H103.5z"/>
                                </clipPath>
                                <clipPath id="decoration4clip11">
                                    <path fill="#fff" d="M51.75 103.5h51.75v51.75H51.75z"/>
                                </clipPath>
                                <clipPath id="decoration4clip12">
                                    <path fill="#fff" d="M155.25 103.5H207v51.75h-51.75z"/>
                                </clipPath>
                                <clipPath id="decoration4clip13">
                                    <path fill="#fff" d="M51.75 155.25h51.75V207H51.75z"/>
                                </clipPath>
                                <clipPath id="decoration4clip14">
                                    <path fill="#fff" d="M155.25 155.25H207V207h-51.75z"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>

                    <!-- Image -->
                    <img class="position-relative img-fluid rounded" src="../../static/assets/img/medic/12.png" alt="...">

                </div>
                <div class="col-12 offset-n12 text-center">

                    <!-- Button -->
                    <a class="btn btn-primary-light lift" href="https://www.youtube.com/watch?v=9I-Y6VQ6tyI"
                       data-fancybox>
            <span class="d-inline-block small align-top mr-3"><svg width="0.727em" height="1em" viewBox="0 0 8 11"
                                                                   fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M0 9.63V1.19C0 .683.567.38.988.664l6.455 4.334A.634.634 0 017.43 6.06L.975 10.166A.635.635 0 010 9.631z"
                        fill="currentColor"/></svg></span>  Смотреть
                    </a>

                </div>
            </div>
        </div>
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-fluid-x shape-top text-dark pb-8 pb-md-12">
            <div class="shape-img pb-9 pb-md-15">
                <svg viewBox="0 0 100 50" preserveAspectRatio="none">
                    <path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/>
                </svg>
            </div>
        </div>
    </div>

    <!-- FEATURES -->
    <section class="pt-10 pt-md-12 bg-dark">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">

                    <!-- Heading -->
                    <h2 class="display-4 text-center text-white mb-9 mb-md-10">
                        Возможности приложения
                    </h2>

                </div>
            </div>
            <div class="row mt-n8 mt-md-n9" data-aos="fade-up">
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-8 mt-md-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                               <img src="../../static/assets/img/medic/Urgent-mail.png" />
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Безопасно
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                                С помощью сервиса Вы сможете соблюдать правильный прием лекарств, минимизируя побочные
                                эффекты на
                                организм.
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-8 mt-md-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                            <img src="../../static/assets/img/medic/Urgent-mail.png" />
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Выгодно
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                                Находите все актуальные акции и скидки Вашего города на медицинские услуги в одном
                                приложении.
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                             <img src="../../static/assets/img/medic/Urgent-mail.png" />
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Точность
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                                Функция “напоминания” позволит всегда отслеживать приняли Вы вовремя лекарства или нет.
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-8 mt-md-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                             <img src="../../static/assets/img/medic/Urgent-mail.png" />
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Технологичность
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                                Мы развиваемся для Вас. Наша команда использует технологии НТИ, ИИ, большие данные.
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-8 mt-md-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                             <img src="../../static/assets/img/medic/Urgent-mail.png" />
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Бесплатно
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                              Все базовые функции предоставлены для Вас бесплатно.
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    <!-- Item -->
                    <div class="d-flex mt-8 mt-md-9">

                        <!-- Icon -->
                        <div class="icon text-primary-light">
                            <img src="../../static/assets/img/medic/Urgent-mail.png" />
                        </div>

                        <!-- Body -->
                        <div class="ml-5">

                            <!-- Title -->
                            <p class="font-size-lg font-weight-bold text-white mb-1">
                                Развитие
                            </p>

                            <!-- Text -->
                            <p class="font-size-sm text-white-60 mb-0">
                                Постоянное обновление и доработка сервиса. Мы не стоим на месте. Наши пользователи - это
                                двигатель роста
                                и развития.
                            </p>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- CASES -->
    <section class="pt-10 pt-md-12 bg-dark">

        <!-- Content -->
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 text-center">

                    <!-- Divider -->
                    <hr class="hr-sm border-warning mb-10 mb-md-12">

                    <!-- Preheading -->
                    <h6 class="text-uppercase text-warning mb-4">
                        Установить сейчас
                    </h6>

                    <!-- Heading -->
                    <h2 class="display-4 text-white mb-9">
                        Скачай Pocket medic и получай промокоды на <span class="text-underline-primary-light">все медицинские услуги
            </span>.
                    </h2>

                </div>
            </div>
        </div>

        <!-- Slider -->
        <div class="flickity-items-fade" data-flickity='{"imagesLoaded": true, "pageDots": false, "wrapAround": true}'>
            <div style="width: calc(100% - 2rem); max-width: 380px;">

                <!-- Image -->
                <img class="img-fluid rounded" src="../../static/assets/img/medic/screen1.png" alt="...">

                <!-- Body -->
                <div class="flickity-hidden py-6 text-center">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-white">

                    </h6>

                    <!-- Text -->
                    <p class="font-size-sm text-center text-white-80 mb-0">
                        Загрузка приложения бесплатная. Установи приложение прямо сейчас.
                    </p>

                </div>

            </div>
            <div style="width: calc(100% - 2rem); max-width: 380px;">

                <!-- Image -->
                <img class="img-fluid rounded" src="../../static/assets/img/medic/screen2.png" alt="...">

                <!-- Body -->
                <div class="flickity-hidden py-6 text-center">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-white">
                    </h6>

                    <!-- Text -->
                    <p class="font-size-sm text-center text-white-80 mb-0">
                        Загрузка приложения бесплатная. Установи приложение прямо сейчас.
                    </p>

                </div>

            </div>

            <div style="width: calc(100% - 2rem); max-width: 380px;">

                <!-- Image -->
                <img class="img-fluid rounded" src="../../static/assets/img/medic/screen4.png" alt="...">

                <!-- Body -->
                <div class="flickity-hidden py-6 text-center">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-white">

                    </h6>

                    <!-- Text -->
                    <p class="font-size-sm text-center text-white-80 mb-0">
                        Загрузка приложения бесплатная. Установи приложение прямо сейчас.
                    </p>

                </div>

            </div>
            <div style="width: calc(100% - 2rem); max-width: 380px;">

                <!-- Image -->
                <img class="img-fluid rounded" src="../../static/assets/img/medic/screen5.png" alt="...">

                <!-- Body -->
                <div class="flickity-hidden py-6 text-center">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-white">
                    </h6>

                    <!-- Text -->
                    <p class="font-size-sm text-center text-white-80 mb-0">
                        Загрузка приложения бесплатная. Установи приложение прямо сейчас.
                    </p>

                </div>

            </div>
            <div style="width: calc(100% - 2rem); max-width: 380px;">

                <!-- Image -->
                <img class="img-fluid rounded" src="../../static/assets/img/medic/screen1.png" alt="...">

                <!-- Body -->
                <div class="flickity-hidden py-6 text-center">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-white">

                    </h6>

                    <!-- Text -->
                    <p class="font-size-sm text-center text-white-80 mb-0">
                        Загрузка приложения бесплатная. Установи приложение прямо сейчас.
                    </p>

                </div>

            </div>
            <div style="width: calc(100% - 2rem); max-width: 380px;">

                <!-- Image -->
                <img class="img-fluid rounded" src="../../static/assets/img/medic/screen2.png" alt="...">

                <!-- Body -->
                <div class="flickity-hidden py-6 text-center">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-white">
                    </h6>

                    <!-- Text -->
                    <p class="font-size-sm text-center text-white-80 mb-0">
                        Загрузка приложения бесплатная. Установи приложение прямо сейчас.
                    </p>

                </div>

            </div>

            <div style="width: calc(100% - 2rem); max-width: 380px;">

                <!-- Image -->
                <img class="img-fluid rounded" src="../../static/assets/img/medic/screen4.png" alt="...">

                <!-- Body -->
                <div class="flickity-hidden py-6 text-center">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-white">

                    </h6>

                    <!-- Text -->
                    <p class="font-size-sm text-center text-white-80 mb-0">
                        Загрузка приложения бесплатная. Установи приложение прямо сейчас.
                    </p>

                </div>

            </div>
            <div style="width: calc(100% - 2rem); max-width: 380px;">

                <!-- Image -->
                <img class="img-fluid rounded" src="../../static/assets/img/medic/screen5.png" alt="...">

                <!-- Body -->
                <div class="flickity-hidden py-6 text-center">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-white">
                    </h6>

                    <!-- Text -->
                    <p class="font-size-sm text-center text-white-80 mb-0">
                        Загрузка приложения бесплатная. Установи приложение прямо сейчас.
                    </p>

                </div>

            </div>

        </div>

    </section>

    <!-- PRICING -->
    <section class="py-10 py-md-12 bg-dark">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-7 col-xl-6 text-center">

                    <!-- Divider -->
                    <hr class="hr-sm border-warning mb-10 mb-md-12">

                    <!-- Preheading -->
                    <h6 class="text-uppercase text-primary-light mb-5">
                        Доступно в Google play
                    </h6>

                    <!-- Heading -->
                    <h2 class="display-4 text-white mb-3">
                        Установить сейчас.
                    </h2>

                    <!-- Text -->
                    <p class="text-white-80 mb-9">
                        Мы создали мобильное приложение, которое поможет вам найти выгодные предложения на медицинские
                        услуги, а
                        также контролировать прием лекарств.
                    </p>

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5 col-xl-4">

                    <!-- Card -->
                    <div class="card rounded-top-left-lg rounded-bottom-right-lg mb-6">
                        <div class="card-body text-center">

                            <!-- Preheading -->
                            <h6 class="text-uppercase text-warning">
                                Бесплатный
                            </h6>

                            <!-- Price -->
                            <p class="display-4 font-weight-bold">
                                <span class="font-size-h3 align-middle">руб.</span>
                                <span class="mx-n2">0</span>
                                <span class="font-size-h2 align-middle">/месяц </span>
                            </p>

                            <!-- List -->
                            <ul class="list-checked list-checked-warning">
                                <li>
                                    Акции на мед. услуги %
                                </li>
                                <li>
                                    Таблетница
                                </li>
                                <li>
                                    Поиск лекарств
                                </li>
                                <li>
                                    Напоминание
                                </li>
                            </ul>

                            <!-- Button -->
                            <a class="btn btn-block btn-gray-300 shadow-none lift"
                               href="https://play.google.com/store/apps/details?id=com.pmedic_front_ts">
                                Cкачать сейчас
                            </a>

                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-5 col-xl-4">

                    <!-- Card -->
                    <div class="card rounded-top-left-lg rounded-bottom-right-lg">
                        <div class="card-body text-center">

                            <!-- Preheading -->
                            <h6 class="text-uppercase text-warning">
                                Подписка
                            </h6>

                            <!-- Price -->
                            <p class="display-4 font-weight-bold">
                                <span class="font-size-h3 align-middle">руб.</span>
                                <span class="mx-n2">199</span>
                                <span class="font-size-h2 align-middle">/месяц </span>
                            </p>

                            <!-- List -->
                            <ul class="list-checked list-checked-warning">
                                <li>
                                    Таблетница
                                </li>
                                <li>
                                    Поиск лекарств
                                </li>
                                <li>
                                    Напоминание
                                </li>
                                <li>
                                    Добавить мед друга
                                </li>
                                <li>
                                    Больше выгоды на Акции%
                                </li>
                            </ul>

                            <!-- Button -->
                            <a class="btn btn-block btn-primary lift"
                               href="https://play.google.com/store/apps/details?id=com.pmedic_front_ts">
                                Узнать подробнее
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}